{% extends "base.html" %}
{% load i18n crispy_forms_tags static %}


{% block head_title %}{% trans "Available Calendars" %}{% endblock %}
{% block content %}
{% include 'navbar.html' %}



    <div class="page text-center">
      <main class="page-content">
        <!-- Login-->
        <section>
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="{% static 'img/backgrounds/background-29-1920x900.jpg' %}" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
              <div class="shell section-80 section-md-top-135 section-md-bottom-145">
                <div class="range range-xs-center">
                  <div class="cell-xs-9 cell-sm-7 cell-md-5 cell-lg-12">
                    <!-- Box-->
                    <div class="box box-lg reveal-block bg-white inset-lg-left-60 inset-lg-right-60">
                      <h5 class="text-ubold text-sm-left">{% trans "Available Calendars" %}</h5>
                      <div class="offset-top-25">
                      <ul>
                          <div class="form-group form-group-xs">
                            {% for cal in object_list %}
            								<li><b>{{ cal }}</b> :
            								  <a href="{% url 'compact_calendar' cal.slug %}">{% trans "Small Month" %}</a> --
            								  <a href="{% url "month_calendar" cal.slug %}">{% trans "1 Month" %}</a> --
            								  <a href="{% url "tri_month_calendar" cal.slug %}">{% trans "3 Months" %}</a> --
            								  <a href="{% url "year_calendar" cal.slug %}">{% trans "This Year" %}</a> --
            								  <a href="{% url "week_calendar" cal.slug %}">{% trans "Weekly" %}</a> --
            								  <a href="{% url "day_calendar" cal.slug %}">{% trans "Daily" %}</a> --
            								  <a href="{% url "upcoming_events_feed" cal.id %}">{% trans "Feed" %}</a></li><br>
            								{% endfor %}
            								</ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>




<!-- <div class="container">
<h2>{% trans "Available Calendars" %}</h2>
<ul>
<div class="container">
{% for cal in object_list %}
<li><b>{{ cal }}</b> :
  <a href="{% url 'compact_calendar' cal.slug %}">{% trans "Small Month" %}</a> --
  <a href="{% url "month_calendar" cal.slug %}">{% trans "1 Month" %}</a> --
  <a href="{% url "tri_month_calendar" cal.slug %}">{% trans "3 Months" %}</a> --
  <a href="{% url "year_calendar" cal.slug %}">{% trans "This Year" %}</a> --
  <a href="{% url "week_calendar" cal.slug %}">{% trans "Weekly" %}</a> --
  <a href="{% url "day_calendar" cal.slug %}">{% trans "Daily" %}</a> --
  <a href="{% url "upcoming_events_feed" cal.id %}">{% trans "Feed" %}</a></li><br>
{% endfor %}
</ul>
</div>
</div> -->
{% endblock %}
