{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}

{% endblock extrahead %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Date Picker -->
{% block content %}

{% include 'navbar.html' %}
<div class="container">


<div class=" col-sm-offset-3 col-md-10">
<b>{% trans "Create or change event. All fields are required." %}</b>
<br><br>
<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <br>
  <input type="submit" value="{% trans 'Save' %}">
  <input type="submit" name="cancel" value="Cancel">
</form>

</div>
</div>


<script src="{% static 'jquery-timepicker/jquery.ui.timepicker.js' %}"></script>
<script>
      {% block jquery %}
			$('#id_start_1').timepicker();
			$('#id_end_1').timepicker();
      {% endblock %}
</script>


{% endblock content %}
