//- post - object of Post Box

mixin post-box(post, postList)
  // Post Box
  .post-box(class= post.postStyle)
    .post-box-img-wrap
      a(href= post.href)
        img(class= post.img.style src= post.img.src width= post.img.width height= post.img.height alt="")
    .post-box-caption
      .post-box-title(class= post.title.style)
        a(href= post.href class= post.title.linkStyle) !{post.title.text}
      ul.list-inline.post-box-meta(class= post.list.style)
        - for (i = 0; i < postList.length; i++)
          - if(i === 0)

            - if (postList[i].icon === true)
                li(class= postList[i].style)
                  img(class= postList[i].img.style src= postList[i].img.src width= postList[i].img.width height= postList[i].img.height alt="")
                  span.text-middle.inset-left-10= postList[i].text
            - else
                li(class= postList[i].style)= postList[i].text

          - else

              - if (postList[i].icon === true)
                  li.text-bottom.p(class= postList[i].style)
                    img(class= postList[i].img.style src= postList[i].img.src width= postList[i].img.width height= postList[i].img.height alt="")
                    span.inset-left-10 by #[a(href= postList[i].href )= postList[i].text]

              - else
                  li.p(class= postList[i].style)
                    span by #[a(href= postList[i].href )= postList[i].text]

      block