{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}


{% block content %}
{% include 'navbar.html' %}
</header>
           <section class="section-height-mac context-dark">
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="{% static 'img/backgrounds/background-03-1920x900.jpg' %}" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
              <div class="bg-overlay-darker">
                <div class="shell section-34 section-md-100 section-lg-top-170 section-lg-bottom-165">
                  <h1 class="veil reveal-md-inline-block">Our Team</h1>
                  <div class="offset-top-4">
                    <h6 class="text-italic">A team of professionals who are passionate about traveling</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <!-- Our Team-->
        <section class="section-80">
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-sm-8 cell-md-4">
                <!-- Team Member-->
                <div class="team-member">
                  <div class="team-member-img-wrap"><img src="{% static 'img/users/user-01-300x385.jpg' %}" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                  <div class="team-member-body">
                    <div class="offset-top-20">
                      <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">John Richardson</div>
                    </div>
                    <div class="offset-top-8">
                      <div class="team-member-description text-spacing-300 text-italic text-uppercase text-silver-chalice">FOUNDER & MANAGING DIRECTOR</div>
                    </div>
                    <div class="offset-top-20">
                      <p class="text-small text-italic text-silver-chalice">A successful business owner, social entrepreneur, and business strategist, John is one of the most important persons at SunTravel, who founded it years ago.</p>
                    </div>
                  </div>
                  <div class="team-member-hover-content offset-top-20 offset-lg-top-0">
                    <!-- Button trigger modal-->
                    <button type="button" data-toggle="modal" data-target="#teamMember" class="btn btn-primary">View FULL INFO</button>
                  </div>
                </div>
                <div class="offset-top-20">
                  <!-- List Inline-->
                  <ul class="list-inline list-primary list-inline-13">
                    <li class="text-center"><a href="#" class="icon fa fa-facebook-f text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-twitter text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-youtube text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-linkedin text-gray"></a></li>
                  </ul>
                </div>
              </div>
              <div class="cell-sm-8 cell-md-4 offset-top-60 offset-md-top-0">
                <!-- Team Member-->
                <div class="team-member">
                  <div class="team-member-img-wrap"><img src="{% static 'img/users/user-01-300x385.jpg' %}" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                  <div class="team-member-body">
                    <div class="offset-top-20">
                      <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">Leslie Silva</div>
                    </div>
                    <div class="offset-top-8">
                      <div class="team-member-description text-spacing-300 text-italic text-uppercase text-silver-chalice">SENIOR TRAVEL AGENT</div>
                    </div>
                    <div class="offset-top-20">
                      <p class="text-small text-italic text-silver-chalice">Leslie started out in the travel industry straight from school, working for the National Union of Students Travel Service, and quickly learned all the aspects of business travel.</p>
                    </div>
                  </div>
                  <div class="team-member-hover-content offset-top-20 offset-lg-top-0">
                    <!-- Button trigger modal-->
                    <button type="button" data-toggle="modal" data-target="#teamMember" class="btn btn-primary">View FULL INFO</button>
                  </div>
                </div>
                <div class="offset-top-20">
                  <!-- List Inline-->
                  <ul class="list-inline list-primary list-inline-13">
                    <li class="text-center"><a href="#" class="icon fa fa-facebook-f text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-twitter text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-youtube text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-linkedin text-gray"></a></li>
                  </ul>
                </div>
              </div>
              <div class="cell-sm-8 cell-md-4 offset-top-60 offset-md-top-0">
                <!-- Team Member-->
                <div class="team-member">
                  <div class="team-member-img-wrap"><img src="{% static 'img/users/user-01-300x385.jpg' %}" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                  <div class="team-member-body">
                    <div class="offset-top-20">
                      <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">Kent Fleming</div>
                    </div>
                    <div class="offset-top-8">
                      <div class="team-member-description text-spacing-300 text-italic text-uppercase text-silver-chalice">HOTEL AGENT</div>
                    </div>
                    <div class="offset-top-20">
                      <p class="text-small text-italic text-silver-chalice">Kent started with SunTravel in May 2013, when he decided to change something in his life by entering the tour and hotel booking industry.</p>
                    </div>
                  </div>
                  <div class="team-member-hover-content offset-top-20 offset-lg-top-0">
                    <!-- Button trigger modal-->
                    <button type="button" data-toggle="modal" data-target="#teamMember" class="btn btn-primary">View FULL INFO</button>
                  </div>
                </div>
                <div class="offset-top-20">
                  <!-- List Inline-->
                  <ul class="list-inline list-primary list-inline-13">
                    <li class="text-center"><a href="#" class="icon fa fa-facebook-f text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-twitter text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-youtube text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-linkedin text-gray"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

      <!-- Modal-->
      <div id="teamMember" tabindex="-1" role="dialog" class="modal modal-custom modal-team-member fade text-sm-left">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="shell">
                <div class="range range-xs-center range-xs-middle">
                  <div class="cell-sm-5">
                    <div class="bg-image bg-image-2"></div>
                  </div>
                  <div class="cell-sm-7">
                    <div class="modal-body-column-content">
                      <div class="team-member">
                        <div class="team-member-img-wrap veil-sm"><img src="images/users/user-01-100x100.jpg" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                        <div class="offset-top-15 offset-sm-top-0">
                          <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">James Smith</div>
                        </div>
                        <div class="offset-top-8">
                          <div class="team-member-description text-spacing-300 text-italic text-uppercase text-silver-chalice">Taxi-driver & traveler</div>
                        </div>
                        <div class="offset-top-20 team-member-scroll-section">
                          <p class="text-small text-italic text-silver-chalice text-left">I’d like to send you a sincere "thank you" for all of your assistance during my recent trip to Colorado. It was invaluable to me and I realize and appreciate it greatly. Your professionalism and efficiency were comforting and reassuring in any weather and environment. Moreover, none of the additional services I ordered at this traveling agency has been a failure yet. Everyone in the team of SunTravel knows how to do their work, and I think that’s why they are still among the leaders of traveling business. Every suggestion your staff made was excellent, as you considered my travel budget, time constraints, and personal likes and dislikes. I would definitely work with your agency again, especially with Kent, as he made my trip easy and stress-free. It was a real delight to work with you.</p>
                        </div>
                      </div>
                      <div class="offset-top-35">
                        <!-- List Inline-->
                        <ul class="list-inline list-primary list-inline-13">
                          <li class="text-center"><a href="#" class="icon fa fa-facebook-f text-gray-base"></a></li>
                          <li class="text-center"><a href="#" class="icon fa fa-twitter text-gray-base"></a></li>
                          <li class="text-center"><a href="#" class="icon fa fa-youtube text-gray-base"></a></li>
                          <li class="text-center"><a href="#" class="icon fa fa-linkedin text-gray-base"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


{% endblock %}
