{% load i18n static staticfiles %}

<html lang="en" class="wide wow-animation smoothscroll">
<head>
<title>PretiumTours {% block head_title %}{% endblock head_title %}</title>


<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">

<!-- Stylesheets CSS -->
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'jquery-ui/themes/flick/jquery-ui.min.css' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Stylesheets CSS -->

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
<!-- Fonts -->


<!--django-Shedular -->
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'schedule.js' %}"></script>
<!-- Caused Modal Issue -->
<!-- <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script> -->
<!-- Caused Modal Issue also caused me to lose my timepicker-->
<!--django-Shedular -->





{% block extrahead %}

{% endblock extrahead %}


<style>

h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 70px;
	line-height: 100px;
}
 
p {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 25px;
}

{% block style %}




{% endblock style %}
</style>

</head>

<body>


<div id="fb-root"></div>
{% block content %}{% endblock content %}

{% include 'footer.html' %}


<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>


<script>

	$(document).ready(function(){
		// $.noConflict();
		{% block jquery %}


		{% endblock %}
	});
</script>


</body>

</html>
