{% load staticfiles %}
{% load i18n static %}

<html lang="en" class="wide wow-animation smoothscroll">
<head>
<title>PretiumTours {% block head_title %}{% endblock head_title %}</title>


<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">

<!-- Stylesheets CSS -->
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'jquery-ui/themes/flick/jquery-ui.min.css' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i"> -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Stylesheets CSS -->


<!-- Django-Shedular -->
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'schedule.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
<!-- Django-Shedular -->


<!-- <script src="{% static 'js/core.min.js' %}"></script> -->
<script src="{% static 'js/script.js' %}"></script>



{% block extrahead %}
{% endblock extrahead %}


<style>
{% block style %}{% endblock style %}
</style>

</head>

<body>

    
<div id="fb-root"></div>

			
{% block content %}{% endblock content %}
{% include 'footer.html' %}

</div>



<script>

	$(document).ready(function(){
		$.noConflict();
		{% block jquery %}

		{% endblock %}
	});
</script>


</body>

</html>