{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

<style>
{% block style %}
fieldset {
    border: 0px solid #dddddd;
    padding: 1.25rem;
    margin: 1.125rem 0;
}


.bg-white {
    background: #fff;
    fill: #fff;
}

{% endblock style %}
</style>



{% block content %}



    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header slider-menu-position">
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" class="rd-navbar rd-navbar-transparent rd-navbar-dark-stuck" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand veil reveal-md-block"><a href="/" class="brand-name"><img width="70" height="30" src="{% static 'img/pretiumlogo.png' %}" alt=""></a></div>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block"><a href="/" class="brand-name"><img width="70" height="30"" src="" alt=""></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="active"><a href="/">Home</a></li>           
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  {% if request.user.is_authenticated %}
                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'registration_register' %}">Register</a></li>
                      {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                         {% endif %}
                    {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </div>

        <!-- Swiper-->
        <div data-height="" data-min-height="400px" data-simulate-touch="false" data-slide-effect="fade" class="swiper-container swiper-slider">
          <div class="swiper-wrapper">
            <div data-slide-bg="{% static 'img/backgrounds/sanfrancisco.jpg' %}" class="swiper-slide"></div>
            <div data-slide-bg="{% static 'img/backgrounds/sanfrancisco2.jpg' %}" class="swiper-slide"></div>
            <div data-slide-bg="{% static 'img/backgrounds/seattle-pretty.jpg' %}" class="swiper-slide"></div>
          </div>
          <div class="swiper-caption-absolute">
            <div class="shell">
              <div class="range range-xs-center">
                <div class="cell-lg-10">
                  <div>
                    <h1 class="text-white">Enjoy Your Free Walking Tour</h1>
                  </div>
                  <div class="offset-top-8">
                    <p class="h6 text-white">Free Walking Tours in Select Cities</p>
                  </div>
                  <div class="offset-top-30 offset-md-top-60 inset-left-20 inset-right-20 inset-sm-left-0 inset-sm-right-0">
                    <!-- Form-->
                    <form class="form-inline-search" action="/guide_listings" method="get">
                      <div class="form-group form-group-xs form-inline-item">
                        <label for="index-destination" class="form-label">Your Destination</label>
                        <input  id="index-destination" type="text" name="destination" class="form-control" value='{{ request.GET.q }}'>
                      </div>
                      <div class="form-group form-group-xs form-inline-item form-inline-item">
                        <label for="index-departure" id="datepicker" type='text' class="form-label datepicker">Travel Date</label>
                        <input id="index-departure" type="text" name="departure" class="form-control" value='{{ request.GET.q }}'>
                      </div>
                      <div class="form-group form-group-xs form-inline-item">
                        <label for="index-language" class="form-label">Language</label>
<!--                         <select id="index-budget" type="text" name="budget" class="form-control" value='{{ request.GET.q }}'>
                          <option value="en">English</option>
                          <option value="rs">Russian</option>
                          <option value="mercedes">Spanish</option>
                        </select> -->
                        <input id="index-language" type="text" name="language" class="form-control" value='{{ request.GET.q }}'>
                      </div>
                      <div class="form-inline-item offset-top-15 offset-sm-top-0">
                        <button type="submit" class="btn btn-primary">Search</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Pagination-->
          <div class="swiper-pagination"></div>
          <!-- Swiper Navigation-->
          <div class="swiper-button-prev"><span class="icon icon-xxs icon-circle icon-filled-white mdi mdi-chevron-left text-gray"></span></div>
          <div class="swiper-button-next"><span class="icon icon-xxs icon-circle icon-filled-white mdi mdi-chevron-right text-gray"></span></div>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">

        <!-- Best Offers-->
        <section class="section-80 section-md-top-70 bg-wild-wand">
          <div class="shell">
            <div>
              <h3>Best Tours</h3>
            </div>
            <div class="offset-top-10">
              <p>Check out our top-rated tours</p>
            </div>
            <div class="range range-xs-center offset-top-45">
              <div class="cell-sm-5 cell-md-4">
                <!-- Box Offer-->
                <div data-wow-delay=".2s" class="box-offer wow fadeInLeft">
                  <div class="box-offer-img-wrap"><a href="/"><img src="{% static 'img/backgrounds/seattle.jpg' %}" width="370" height="310" alt="" class="img-responsive center-block"></a></div>
                  <div class="box-offer-caption text-left">
                    <div class="pull-left">
                      <div class="box-offer-title text-ubold"><a href="/" class="text-gray-base">Seattle</a></div>
                    </div>
                    <div class="pull-right">
                      <div class="box-offer-price text-gray-base">$0</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="offset-top-8 offset-xs-top-0">
                      <!-- List Inline-->
                      <ul class="list-inline list-inline-13 list-inline-marked text-silver-chalice text-small">
                        <li>Seattle, United States</li>
                        <li>2 Hours</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-sm-5 cell-md-4 offset-top-30 offset-sm-top-0">
                <!-- Box Offer-->
                <div data-wow-delay=".2s" class="box-offer wow bounceIn">
                  <div class="box-offer-img-wrap"><a href="/"><img src="{% static 'img/backgrounds/portland.jpg' %}" width="370" height="310" alt="" class="img-responsive center-block"></a></div>
                  <div class="box-offer-caption text-left">
                    <div class="pull-left">
                      <div class="box-offer-title text-ubold"><a href="/" class="text-gray-base">Portland</a></div>
                    </div>
                    <div class="pull-right">
                      <div class="box-offer-price text-gray-base">$0</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="offset-top-8 offset-xs-top-0">
                      <!-- List Inline-->
                      <ul class="list-inline list-inline-13 list-inline-marked text-silver-chalice text-small">
                        <li>Portland, Unites States</li>
                        <li>4 Hours</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-sm-5 cell-md-4 offset-top-30 offset-md-top-0">
                <!-- Box Offer-->
                <div data-wow-delay=".2s" class="box-offer wow fadeInRight">
                  <div class="box-offer-img-wrap"><a href="/"><img src="{% static 'img/backgrounds/sanfrancisco.jpg' %}" width="370" height="310" alt="" class="img-responsive center-block"></a></div>
                  <div class="box-offer-caption text-left">
                    <div class="pull-left">
                      <div class="box-offer-title text-ubold"><a href="/" class="text-gray-base">San Francisco</a></div>
                    </div>
                    <div class="pull-right">
                      <div class="box-offer-price text-gray-base">$0</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="offset-top-8 offset-xs-top-0">
                      <!-- List Inline-->
                      <ul class="list-inline list-inline-13 list-inline-marked text-silver-chalice text-small">
                        <li>San Francisco, United States</li>
                        <li>1 Hour</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

             
            </div>
            <div class="offset-top-50"><a href="tours-grid.html" class="btn btn-primary">View ALL TOURs</a></div>
          </div>
        </section>
        <!-- Why SunTravel-->
        <section data-wow-delay=".2s" class="wow fadeIn">
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="{% static 'img/backgrounds/background-20-1920x900.jpg' %}" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
              <div class="bg-overlay-inverse-md-darker">
                <div class="shell section-80 section-md-top-70">
                  <h3 class="text-white">Why Pretium Tours</h3>
                  <div class="range range-xs-center range-md-left text-xs-left offset-top-35">
                    <div class="cell-sm-6 cell-md-4" style="padding-bottom: 30px; padding-top: 30px;">
                      <!-- Box-->
                      <div class="box box-sm bg-white reveal-lg-block">
                        <div class="unit unit-xs unit-xs-horizontal unit-spacing-sm">
                          <div class="unit-left">
                            <div class="icon-circle icon-circle-lg icon-filled-turquoise center-block"><img src="static/img/icons/icon-11-20x18.png" width="20" height="18" alt="" class="img-responsive center-block"></div>
                          </div>
                          <div class="unit-body offset-top-4 offset-xs-top-0">
                            <div>
                              <p class="text-small text-gray-base text-uppercase text-ubold">Personalized matching</p>
                            </div>
                            <div class="offset-top-4">
                              <p class="text-small text-silver-chalice">We can provide up to 3 experienced travel specialists who fit best for your trip.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cell-sm-6 cell-md-4 offset-top-30 offset-sm-top-0" style="padding-bottom: 30px; padding-top: 30px;">
                      <!-- Box-->
                      <div class="box box-sm bg-white reveal-lg-block">
                        <div class="unit unit-xs unit-xs-horizontal unit-spacing-sm">
                          <div class="unit-left">
                            <div class="icon-circle icon-circle-lg icon-filled-turquoise center-block"><img src="static/img/icons/icon-06-14x21.png" width="14" height="21" alt="" class="img-responsive center-block"></div>
                          </div>
                          <div class="unit-body offset-top-4 offset-xs-top-0">
                            <div>
                              <p class="text-small text-gray-base text-uppercase text-ubold">Currently 3 destinations</p>
                            </div>
                            <div class="offset-top-4">
                              <p class="text-small text-silver-chalice">With Pretium, we’ll find the guide your looking for.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="padding-bottom: 30px; padding-top: 30px;">
                      <!-- Box-->
                      <div class="box box-sm bg-white reveal-lg-block">
                        <div class="unit unit-xs unit-xs-horizontal unit-spacing-sm">
                          <div class="unit-left">
                            <div class="icon-circle icon-circle-lg icon-filled-turquoise center-block"><img src="static/img/icons/icon-07-21x18.png" width="21" height="18" alt="" class="img-responsive center-block"></div>
                          </div>
                          <div class="unit-body offset-top-4 offset-xs-top-0">
                            <div>
                              <p class="text-small text-gray-base text-uppercase text-ubold">highly qualified service</p>
                            </div>
                            <div class="offset-top-4">
                              <p class="text-small text-silver-chalice">Our high level of service is officially recognized by thousands of clients.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- What Customers Say-->
        <section data-wow-delay=".2s" class="section-70 section-md-bottom-80 wow fadeIn">
          <div class="shell">
            <div>
              <h3>What Customers Say</h3>
            </div>
            <div class="offset-top-10">
              <p>Our clients’ testimonials are the best proof of our high level of service</p>
            </div>
            <div class="range range-xs-center offset-top-40">
              <div class="cell-md-10 cell-lg-12">
                <!-- Owl Carousel-->
                <div data-items="1" data-sm-items="2" data-lg-items="3" data-stage-padding="5" data-loop="false" data-margin="30" data-mouse-drag="false" data-dots="true" data-nav="true" class="owl-carousel owl-dots-primary">
                  <div class="owl-item">
                    <!-- Team Member-->
                    <div class="team-member">
                      <div class="team-member-img-wrap"><img src="static/img/users/user-01-100x100.jpg" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                      <div class="team-member-body">
                        <div class="offset-top-20">
                          <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">James smith</div>
                        </div>
                        <div class="offset-top-20">
                          <p class="text-small text-italic text-silver-chalice">“It is awesome!”</p>
                        </div>
                      </div>
                      <div class="team-member-hover-content offset-top-20 offset-lg-top-0">
                        <!-- Button trigger modal-->
                        <button type="button" data-toggle="modal" data-target="#teamMember" class="btn btn-primary">View FULL INFO</button>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item">
                    <!-- Team Member-->
                    <div class="team-member">
                      <div class="team-member-img-wrap"><img src="static/img/users/user-02-100x100.jpg" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                      <div class="team-member-body">
                        <div class="offset-top-20">
                          <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">Mary Anderson</div>
                        </div>
                        <div class="offset-top-20">
                          <p class="text-small text-italic text-silver-chalice">“Good job!”</p>
                        </div>
                      </div>
                      <div class="team-member-hover-content offset-top-20 offset-lg-top-0">
                        <!-- Button trigger modal-->
                        <button type="button" data-toggle="modal" data-target="#teamMember" class="btn btn-primary">View FULL INFO</button>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item">
                    <!-- Team Member-->
                    <div class="team-member">
                      <div class="team-member-img-wrap"><img src="static/img/users/user-03-100x100.jpg" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                      <div class="team-member-body">
                        <div class="offset-top-20">
                          <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">Will Johnson</div>
                        </div>
                        <div class="offset-top-20">
                          <p class="text-small text-italic text-silver-chalice">“I had a great tour.”</p>
                        </div>
                      </div>
                      <div class="team-member-hover-content offset-top-20 offset-lg-top-0">
                        <!-- Button trigger modal-->
                        <button type="button" data-toggle="modal" data-target="#teamMember" class="btn btn-primary">View FULL INFO</button>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item">
                    <!-- Team Member-->
                    <div class="team-member">
                      <div class="team-member-img-wrap"><img src="static/img/users/user-01-100x100.jpg" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                      <div class="team-member-body">
                        <div class="offset-top-20">
                          <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">James smith</div>
                        </div>
                        <div class="offset-top-20">
                          <p class="text-small text-italic text-silver-chalice">“Wonderul tour.”</p>
                        </div>
                      </div>
                      <div class="team-member-hover-content offset-top-20 offset-lg-top-0">
                        <!-- Button trigger modal-->
                        <button type="button" data-toggle="modal" data-target="#teamMember" class="btn btn-primary">View FULL INFO</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="offset-top-40"><a href="testimonials.html" class="btn btn-primary">View More</a></div>
          </div>
        </section>
        <!-- Find Travel Perfection With the Professionalism of Experts-->
        <section data-wow-delay=".2s" class="context-dark wow fadeIn">
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.05" data-type="media" data-url="static/img/backgrounds/background-17-1920x900.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
              <div class="bg-overlay-inverse-md-darker">
                <div class="shell section-80 section-lg-top-145 section-lg-bottom-295">
                  <div class="range range-xs-center range-md-right text-md-right">
                    <div class="cell-sm-10 cell-md-7">
                      <h2>Find Travel Perfection With the Professionalism of Experts</h2>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

     
      </main>
      <!-- Modal-->
      <div id="teamMember" tabindex="-1" role="dialog" class="modal modal-custom modal-team-member fade text-sm-left">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="shell">
                <div class="range range-xs-center range-xs-middle">
                  <div class="cell-sm-5">
                    <div class="bg-image bg-image-2"></div>
                  </div>
                  <div class="cell-sm-7">
                    <div class="modal-body-column-content">
                      <div class="team-member">
                        <div class="team-member-img-wrap veil-sm"><img src="static/img/users/user-01-100x100.jpg" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                        <div class="offset-top-15 offset-sm-top-0">
                          <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">James Smith</div>
                        </div>
                        <div class="offset-top-8">
                          <div class="team-member-description text-spacing-300 text-italic text-uppercase text-silver-chalice">Taxi driver & traveler</div>
                        </div>
                        <div class="offset-top-20 team-member-scroll-section">
                          <p class="text-small text-italic text-silver-chalice text-left">Amazing Tour.</p>
                        </div>
                      </div>
                      <div class="offset-top-35">
                        <!-- List Inline-->
                        <ul class="list-inline list-primary list-inline-13">
                          <li class="text-center"><a href="#" class="icon fa fa-facebook-f text-gray-base"></a></li>
                          <li class="text-center"><a href="#" class="icon fa fa-twitter text-gray-base"></a></li>
                          <li class="text-center"><a href="#" class="icon fa fa-youtube text-gray-base"></a></li>
                          <li class="text-center"><a href="#" class="icon fa fa-linkedin text-gray-base"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



<script src="{% static 'jquery-ui/ui/widgets/datepicker.js' %}"></script>

<script>
      {% block jquery %}
      $('#index-departure').datepicker();
      {% endblock %}
</script>



{% endblock %}



