{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}


<style>
{% block style %}
.box-lg {
    background-color: white;
{% endblock style %}
</style>

{% block content %}
{% include 'navbar.html' %}

  <!-- Page Content-->
      <main class="page-content">
        <!-- Forgot Password?-->
        <section>
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="{% static 'img/backgrounds/background-18-1920x900.jpg' %}" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
              <div class="shell section-80 section-md-145">
                <div class="range range-xs-center">
                  <div class="cell-xs-9 cell-sm-7 cell-md-5 cell-lg-4 text-left">
                    <!-- Box-->
                    <div class="box box-lg box-lg-variant-2 bg-white">
                      <div>
                        <h5 class="text-ubold">Forgot Password?</h5>
                      </div>
                      <div class="offset-top-4">
                        <p class="text-small">To reset your password, enter the email address you use to <a href="{% url 'auth_password_reset' %}" class="text-primary">Log In</a>.</p>
                      </div>
                      <div class="offset-top-30">
                        <form method="post" action=".">
                          <div class="form-group form-group-xs">
                            	{% csrf_token %} 
    						            	{{ form|crispy }}
                          </div>
                          <div class="offset-top-20">

                            <input type="submit" class="btn btn-block btn-primary" value="{% trans 'Join' %}"></input>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

{% endblock %}


