{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
<style>
{% block style %}
textarea.form-control {
    height: 170px;
    min-height: 250;
    max-height: 400;
{% endblock style %}
</style>


{% block title %}{% trans "Create review" %}{% endblock %}

{% block content %}
{% include 'navbar.html' %}


<main class="page-content">
        <section>
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="images/backgrounds/background-18-1920x900.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
              <div class="shell section-80 section-md-145">
                <div class="range range-xs-center">
                  <div class="cell-xs-9 cell-sm-7 cell-md-5 cell-lg-6 text-left">
                    <div class="box box-lg box-lg-variant-2 bg-white">
                      <div>
                        <h5 class="text-ubold">Edit/Create Review</h5><hr>
                      </div>
                      <div class="offset-top-4">
                      </div>
                      <div class="offset-top-30">
                        <form method="post" action=".">
                          <div class="form-group form-group-xs">
                                {% csrf_token %} 
                                {{ form|crispy }}
                          </div>
                          <div class="offset-top-20">

                            <input type="submit" class="btn btn-block btn-primary" value="{% trans 'Save' %}"></input>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

<!--    <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
    <h5>{% trans "Create/Edit review" %}</h5>
 
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-block btn-primary" type="submit" value="{% trans 'Save' %}" />
    </form>
    </div>
    </div> -->
{% endblock %}
