{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object }}{% endblock %}


<style>
{% block style %}
{% endblock style %}
</style>


{% block content %}
{% include 'navbar.html' %}

<main class="page-content">
        <section>
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="images/backgrounds/background-18-1920x900.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
              <div class="shell section-80 section-md-145">
                <div class="range range-xs-center">
                  <div class="cell-xs-9 cell-sm-7 cell-md-5 cell-lg-4 text-left">
                    <div class="box box-lg box-lg-variant-2 bg-white">
                      <div>
                        <h5 class="text-ubold">Review of {{ object.reviewed_item }}</h5><hr>
                      </div>
                      <div class="offset-top-4">
                      </div>
                      <div class="offset-top-30">

                        <h3>{{ object.first }}</h3>
                         <small>({{ object.creation_date|date:"SHORT_DATETIME_FORMAT" }})</small>
                        {% if object.content %}
                            <h3>{{ object.get_user }} wrote:</h3>
                            <p>{{ object.content|linebreaks }}</p>
                        {% else %}
                            <p>{% blocktrans with user=object.get_user %}{{ user }} reviewed without description.{% endblocktrans %}</p>
                        {% endif %}
                        {% if object.ratings.all %}
                            <h3><small>Ratings: {% if object.get_average_rating %} ({{ object.get_average_rating }} {% trans "of" %} 5){% endif %}</small></h3>
                            <ul>
                                {% for rating in object.ratings.all %}
                                    <li><strong>{{ rating.category }}: {{ rating.get_value_display }} {% trans "of" %} 5</strong></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if object.user == request.user and object.is_editable %}
                            <p><a href="{% url 'review_update' pk=review.pk %}"> Edit Review.</a></p>
                        {% endif %}

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main> 


<!--    <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
    <h3>{{ object.first }}</h3>
    <h4>Review for: {{ object.reviewed_item }} <small>({{ object.creation_date|date:"SHORT_DATETIME_FORMAT" }})</small></h4>
    {% if object.content %}
        <h3>{{ object.get_user }} wrote:</h3>
        <p>{{ object.content|linebreaks }}</p>
    {% else %}
        <p>{% blocktrans with user=object.get_user %}{{ user }} reviewed without description.{% endblocktrans %}</p>
    {% endif %}
    {% if object.ratings.all %}
        <h3><small>Ratings{% if object.get_average_rating %} ({{ object.get_average_rating }} {% trans "of" %} 5){% endif %}</small></h3>
        <ul>
            {% for rating in object.ratings.all %}
                <li><strong>{{ rating.category }}: {{ rating.get_value_display }} {% trans "of" %} 5</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if object.user == request.user and object.is_editable %}
        <p><a href="{% url 'review_update' pk=review.pk %}"> Edit Review.</a></p>
    {% endif %}


</div>
</div> -->
{% endblock %}
