//
// Boxes
// --------------------------------------------------


// Basic Styling
// --------------------------------------------------

.box, .box-md {
  display: inline-block;
  padding: 20px;
  border-radius: 4px;
  box-shadow: $shadow-area-sm;
  will-change: content;
  transition: .3s all ease;

  @media (min-width: $screen-lg-min) {
    padding: 45px 45px 50px;

    &:hover {
      box-shadow: $shadow-area-md;
    }
  }
}


// Sizing
// --------------------------------------------------

.box-xs {
  padding: 34px 30px 23px;

  &.blog-aside {
    padding-bottom: 35px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
    &.blog-aside {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.box-sm {
  box-shadow: $shadow-area-sm;

  @media (min-width: $screen-lg-min) {
    padding: 25px 10px 20px 31px;
  }
}

.box-lg {
  padding: 45px 25px;
  border-radius: 8px;

  @media (min-width: $screen-xs-min) {
    padding: 45px 30px;
  }
  @media (min-width: $screen-sm-min) {
    padding: 60px 50px;
  }

  &-variant-2 {
    @media (min-width: $screen-sm-min) {
      padding: 55px 60px;
    }
  }
}


// Box Single Post
// --------------------------------------------------

.box.box-single-post {
  @media (min-width: $screen-lg-min) {
    padding: 45px 60px 50px;
  }
}


// Box Insets Off
// --------------------------------------------------

.box-insets-off {
  padding: 0;
}


// Box Inner
// --------------------------------------------------

.box-inner {
  padding: 40px 30px;

  @media (min-width: $screen-md-min) {
    padding: 70px 75px 75px 65px;
  }
}


.box-accordion {
  padding: 24px 30px;

  @media (min-width: $screen-sm-min) {
    padding: 34px 63px;
  }
}

.box-accordion-xs {
  @media (min-width: $screen-sm-min) {
    padding: 17px 60px;
  }
}


// Box Search
// --------------------------------------------------

.box-search {
  padding: 0;

  .form-search-submit {
    transition: .3s all ease;

    &:hover {
      color: $brand-primary;
    }
  }

  .form-group.form-group-xs {
    .form-label {
      padding-left: 30px;
    }

    .form-control {
      padding-left: 58px;
      padding-bottom: 13px;
    }

    .form-label, .form-control {
      top: 16px;
    }
  }

  .form-label, .form-control {
    font-size: 18px;
    font-style: italic;
    letter-spacing: .2em;
  }

  .form-control {
    border-radius: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-width: 2px;
    border-bottom-color: $gray;
    background: $gray-dark;
  }

  .form-search {
    position: relative;
  }

  .form-search-submit {
    position: absolute;
    left: 19px;
    top: 50%;
    z-index: 1;
    margin-top: -5px;
    @include transform(translateY(-50%));
    background: transparent;
    border: none;
  }

  &-wrap {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 21px 38px 10px;
    background: $gray-dark;
  }

  &-body {
    padding: 53px 40px;
  }
}