extends  ../_skeleton

block title
  title 503

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 4,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

  // Page Content
  main.page-content

    // 503
    section
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-16-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .shell.section-80.section-md-145
          .range.range-xs-center
            .cell-xs-9.cell-sm-7.cell-md-5.cell-lg-4
              // Box
              .box.box-lg.bg-white
                svg(x='0px', y='0px', width='64px', height='80px', viewbox='0 0 32 40')
                  polygon(fill='#42A5F5', points='0,4 0,40 28,40 28,12 20,4 ')
                  polygon(fill='#90CAF9', points='4,0 4,36 32.001,36 32.001,7.999 24.001,0 ')
                  polygon(fill='#E1F5FE', points='30.5,9 23,9 23,1.5 ')
                  g
                    path(fill='#1976D2', d='M19.3,27.8c0-0.2-0.1-1.5-1.5-1.5c-1.5,0-1.5,1.3-1.5,1.5c0,0.4,0.2,1.4,1.5,1.4S19.3,28.2,19.3,27.8z')
                    path(fill='#1976D2', d='M18.1,12.8c-4.5,0-4.8,3.5-4.8,4.2H16c0-0.4,0.1-2,2.1-2c1.8,0,2,1.4,2,2.1c0,2.8-3.6,2.5-3.6,7.2v0.1H19\
                    c0-3.3,3.8-3.8,3.8-7.3C22.8,16.4,22.7,12.8,18.1,12.8z')
                .offset-top-20
                  h5.text-ubold Temporary Unavailable
                .offset-top-15
                  p.text-small Sorry, we're offline right now to make our site even better.  Please, come back later and check what we've been up to.
                .offset-top-30
                  a.btn.btn-icon.btn-icon-left.btn-primary(href="index.html")
                    span.icon.icon-xxs.mdi.mdi-chevron-left
                    span Back to homepage

 
  // Page Footer
  include ../sections/_footer-default