extends  ../_skeleton

//- Includes
include ../elements/_ui-accordion-classic

block title
  title Careers

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 3,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    // RD Parallax
    section.section-height-mac.context-dark
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-24-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .bg-overlay-darker
          .shell.section-34.section-md-100.section-lg-top-170.section-lg-bottom-165
            h1.veil.reveal-md-inline-block Careers
            .offset-top-4
              h6.text-italic Become a part of SunTravel

  // Page Content
  main.page-content

    // Careers
    section.section-80.bg-wild-wand
      .shell
        // Box
        .box.box-accordion.box-accordion-xs.bg-white(style="width:100%;")
          +accordion-classic(["Tour Consultant", "Junior Travel Agent ", "Marketing Executive", "Senior Business Travel Consultant", "Customer Service Consultant", "Sales Manager ", "Reservations Consultant", "South America Travel Consultant", "Travel Sales Advisor", "Tour Manager"], "accordion-xs")
            div
              p.text-extra-small.line-height-1
                a.text-gray-base(href="#")
                  span.reveal-inline-block.text-middle
                    img.img-responsive.center-block(src="images/icons/icon-22-9x11.png" width="9" height="11" alt="")
                  span.text-middle.inset-left-5 Los Angeles, United States
              .offset-top-25
                div
                  p Combine your strengths with sales, consulting, and relationship building to help our customers explore the world on our international travel programs. Own your territory, shape its direction and drive its sales growth. Be challenged and supported in a one of a kind culture surrounded by thoughtful and brilliant people. Take pride in being part of an organization which is shaping the global perspective of the next generation. In addition to all of that you will also receive: monthly base salary and unlimited bonus, market-leading healthcare and benefits, outstanding vacation time - 3 weeks to start - 4 weeks in year two, paid international travel at least once a year, comprehensive training and professional development, frequent tour sales competitions with amazing rewards, complimentary in-house language classes and other numerous benefits and bonuses.
                .offset-top-0
                  p If you think you meet the requirements of this position, feel free to send us your CV. Due to a high amount of applications we receive, unfortunately, we cannot answer every letter instantly, but you will get a reply as soon as possible.
                .offset-top-12
                  a.btn.btn-xs.btn-width-110.btn-primary(href="#") View More

            div
              p.text-extra-small.line-height-1
                a.text-gray-base(href="#")
                  span.reveal-inline-block.text-middle
                    img.img-responsive.center-block(src="images/icons/icon-22-9x11.png" width="9" height="11" alt="")
                  span.text-middle.inset-left-5 Los Angeles, United States
              .offset-top-25
                div
                  p Travel Agents provide an intermediary service between clients and suppliers to plan leisure and business travel arrangements. These services may range from straightforward tasks such as booking direct flights to coordinating entire travel experiences including itineraries, accommodation, transport, tours and visas.
                  As a Junior Travel Agent, your key responsibility will be to simplify the process of arranging travel for your clients using your knowledge of the industry. Travel Agents provide expert advice, secure the best value options for their clients, and ensure they have a positive travel experience.
                .offset-top-0
                  p Junior Travel Agents may specialize in a particular field such as domestic travel, international travel, corporate travel, or tours. Specialties can also be destination-specific, usually based on a Travel Agent’s familiarity with a particular region. Most Travel Agents work in a sales environment in a retail travel agency, call center or online agency, and make a commission on the bookings made.
                .offset-top-12
                  a.btn.btn-xs.btn-width-110.btn-primary(href="#") View More
            div
              p.text-extra-small.line-height-1
                a.text-gray-base(href="#")
                  span.reveal-inline-block.text-middle
                    img.img-responsive.center-block(src="images/icons/icon-22-9x11.png" width="9" height="11" alt="")
                  span.text-middle.inset-left-5 Los Angeles, United States
              .offset-top-25
                div
                  p Marketing executives are involved in developing marketing campaigns to promote a product, service or idea. It is a varied role that includes planning, advertising, public relations, event organization, and research. This is a great opportunity for a Marketing Executive to promote and develop the company's portfolio of products through email, CRM, direct mail and sales support. The successful candidate will support with increasing sales and driving traffic to the website through regular email campaigns, e-newsletters, and updates. The candidate will also work closely with design agencies to execute advertising and direct mail campaigns.
                .offset-top-0
                  p As Marketing Executive of SunTravel, you will be required to regularly produce branded email campaigns, use the CRM system to segment and profile customers, work closely with design agencies to execute offline advertising campaigns, support with trade shows and events to increase brand awareness.
                .offset-top-12
                  a.btn.btn-xs.btn-width-110.btn-primary(href="#") View More
            div
              p.text-extra-small.line-height-1
                a.text-gray-base(href="#")
                  span.reveal-inline-block.text-middle
                    img.img-responsive.center-block(src="images/icons/icon-22-9x11.png" width="9" height="11" alt="")
                  span.text-middle.inset-left-5 Los Angeles, United States
              .offset-top-25
                div
                  p Join our team as a Senior Business Travel Consultant and help us provide excellent service and support to our clients. In this role, you will embody the mission of our Travel Consultants around the globe as you strive to “Deliver the Perfect Trip”. You will be specifically responsible for delighting the traveler/travel arranger, building commercial value, and strengthening our agency in a way that balances the requirements of all stakeholders and positions our workforce as a key differentiator for our business. If you are interested in growing a career within the travel industry and fit the requirements outlined below – we want to speak with you!
                .offset-top-0
                  p At SunTravel, we have a unique and compelling culture as an employer defined by our people and supported by our Core Values. Our employees feel a genuine respect for one another, act with uncompromising integrity and feel proud of our global market leadership. They value working together, embrace opportunities for continuous learning and have an intense desire to serve customers.
                .offset-top-12
                  a.btn.btn-xs.btn-width-110.btn-primary(href="#") View More
            div
              p.text-extra-small.line-height-1
                a.text-gray-base(href="#")
                  span.reveal-inline-block.text-middle
                    img.img-responsive.center-block(src="images/icons/icon-22-9x11.png" width="9" height="11" alt="")
                  span.text-middle.inset-left-5 Los Angeles, United States
              .offset-top-25
                div
                  p We are currently looking for brilliant, compassionate, full-time customer service professionals to join our Customer Experience Team! Interested in supporting the travel industry? Together, our team assists our clients’ hosts and guests to ensure they have the best support and an excellent experience every time. We’ve got it covered 24/7/365 all over the world.
                .offset-top-0
                  p The Customer Service Consultant at SunTravel will deal with customers efficiently over the phone to make amendments to bookings, deal with customer cancellations and offer alternatives. The Customer Service Consultant will also advise clients of any flight and accommodation changes whilst providing good customer service at all times. If you have the necessary experience and would like to become a part of our team, feel free to send us your CV today!
                .offset-top-12
                  a.btn.btn-xs.btn-width-110.btn-primary(href="#") View More
            div
              p.text-extra-small.line-height-1
                a.text-gray-base(href="#")
                  span.reveal-inline-block.text-middle
                    img.img-responsive.center-block(src="images/icons/icon-22-9x11.png" width="9" height="11" alt="")
                  span.text-middle.inset-left-5 Los Angeles, United States
              .offset-top-25
                div
                  p We are looking for an effective, persuasive and committed Sales Manager with a solid background in luxury travel. You will work alongside other members of our team, planning company strategy, delivery of sales performance continuously in line with the SunTravel’s commercial and business goals.
                .offset-top-0
                  p Your responsibilities as Sales Manager at our tour agency will include adopting a hands-on approach, establishing, managing, and mentoring the sales and customer service teams. You will also have to inspire to drive sales and focus on improving customer experience as well as contribute to the development of sales strategies and setting of sales & service targets. Management of a pre-agreed percentage of the teams’ calls is an important part of our sales managers’ responsibilities. This and other responsibilities will give you an opportunity to grow as a professional at SunTravel.
                .offset-top-12
                  a.btn.btn-xs.btn-width-110.btn-primary(href="#") View More
            div
              p.text-extra-small.line-height-1
                a.text-gray-base(href="#")
                  span.reveal-inline-block.text-middle
                    img.img-responsive.center-block(src="images/icons/icon-22-9x11.png" width="9" height="11" alt="")
                  span.text-middle.inset-left-5 Los Angeles, United States
              .offset-top-25
                div
                  p We are looking to recruit an enthusiastic Reservations Consultant to work alongside the Sales Team on a day-to-day basis. The Reservations Consultant is responsible for handling, converting and closing inquiries to a successful conclusion within agreed service levels. You will provide a dedicated service offering accurate information on availability, costs, ensuring all reservations are completed accurately and checked thoroughly. The role requires following up on inquiries to maximize sales opportunities, building rapport to ensure a good long-term client relationship along with the maximizing use of net fares and consolidators to optimize profit margins.
                .offset-top-0
                  p Excellent written and spoken English communication skills are required to ensure accurate, professional emails, itineraries and account information. A professional, friendly approach with good organizational skills along with the ability to work to deadlines and remain calm under pressure is also necessary. If you have a minimum of 12 months computer reservations systems experience using the Sabre GDS system and also Amadeus or related computer reservations systems we would like to hear from you.
                .offset-top-12
                  a.btn.btn-xs.btn-width-110.btn-primary(href="#") View More
            div
              p.text-extra-small.line-height-1
                a.text-gray-base(href="#")
                  span.reveal-inline-block.text-middle
                    img.img-responsive.center-block(src="images/icons/icon-22-9x11.png" width="9" height="11" alt="")
                  span.text-middle.inset-left-5 Los Angeles, United States
              .offset-top-25
                div
                  p Passionate about South America? We are now seeking South America Specialists to join our award-winning and friendly team. We offer a wide range of bespoke tailor-made destinations to the discerning traveler around the world. Due to success and expansion, there is now an opportunity for an experienced South America Specialist to grow their travel career and be rewarded for their hard work, in our state of the art high spec offices.
                .offset-top-0
                  p This exciting role entails a wide range of responsibilities, in which no day will be the same, and it includes selling and tailor-making inspiring trips to various resorts including Brazil, Chile, Argentina, Uruguay, Paraguay, Bolivia, Peru, Ecuador, Colombia, Venezuela plus many more exotic locations.
                .offset-top-12
                  a.btn.btn-xs.btn-width-110.btn-primary(href="#") View More
            div
              p.text-extra-small.line-height-1
                a.text-gray-base(href="#")
                  span.reveal-inline-block.text-middle
                    img.img-responsive.center-block(src="images/icons/icon-22-9x11.png" width="9" height="11" alt="")
                  span.text-middle.inset-left-5 Los Angeles, United States
              .offset-top-25
                div
                  p This is a fantastic opportunity for someone who is enthusiastic about travel and wants to begin their career with a market leading Travel Company with an excellent reputation. You will be joining a company that is extremely passionate about what it does and always looks after its staff. You will be working in a state of the art contact center based in Los Angeles, CA, handling predominantly inbound calls from international customers regarding new travel bookings and reservations. Previous travel experience is not essential for this role, as first class training is provided to ensure you get off to a flying start!
                .offset-top-0
                  p Your responsibilities as Travel Sales Advisor will include answering inbound reservations calls from customers who want to book worldwide travel, adding value where possible; striving for first contact resolution for all customers; offering exceptional customer service, which exceeds all customers’ expectations; meeting and exceeding individual and team KPIs, promoting travel opportunities through the use of personal travel experiences and training.
                .offset-top-12
                  a.btn.btn-xs.btn-width-110.btn-primary(href="#") View More
            div
              p.text-extra-small.line-height-1
                a.text-gray-base(href="#")
                  span.reveal-inline-block.text-middle
                    img.img-responsive.center-block(src="images/icons/icon-22-9x11.png" width="9" height="11" alt="")
                  span.text-middle.inset-left-5 Los Angeles, United States
              .offset-top-25
                div
                  p Tour managers at SunTravel organize and accompany groups of holidaymakers on tours to a wide variety of the USA and overseas locations. They are responsible for ensuring travel arrangements for holidaymakers run as smoothly as possible from beginning to end, as well as providing them with practical support throughout the trip. Tour managers have in-depth knowledge of a particular area/region and may act as tour guides during the tour. On overseas tours, they use their language skills and knowledge, for example of the culture or history of an area, to ensure the tour goes smoothly and that holidaymakers enjoy themselves. Most tour managers work on a self-employed basis for tour operators, ranging from international companies to small, special interest operators.
                .offset-top-0
                  p This is a demanding, varied and rewarding role, which includes welcoming groups of holidaymakers at their starting point and announcing details of travel arrangements and stop-over points; checking tickets and other relevant documents, seat allocations and any special requirements; helping with passport and immigration issues; assisting holidaymakers check-in and settle into their accommodation; communicating a range of information on itineraries, destinations and culture; and a lot more responsibilities that can polish your skills and help get benefit from this job.
                .offset-top-12
                  a.btn.btn-xs.btn-width-110.btn-primary(href="#") View More

    // Positions
    section.section-70
      .shell
        .range.range-xs-center
          .cell-md-10.cell-lg-12
            // Owl Carousel
            .owl-carousel.owl-dots-primary.owl-carusel-inset-top(data-items='1' data-sm-items='2' data-lg-items='3' data-stage-padding='5' data-loop='false' data-margin='30' data-mouse-drag="false" data-dots="true" data-nav="true")
              .owl-item
                .inset-lg-left-20.inset-lg-right-20
                  span.icon.icon-lg.icon-outlined
                    img.img-responsive.center-block(src="images/icons/icon-22-18x22.png" width="18" height="22" alt="")
                  .offset-top-25.offset-md-top-40
                    p.text-small.text-uppercase.text-gray-base.text-spacing-200.text-ubold Travel manager
                  .offset-top-8
                    p.text-small.text-small-variant-2.text-silver-chalice SunTravel invites experienced travel managers to become a part of our friendly team.

              .owl-item
                .inset-lg-left-20.inset-lg-right-20
                  span.icon.icon-lg.icon-outlined
                    img.img-responsive.center-block(src="images/icons/icon-23-22x18.png" width="23" height="18" alt="")
                  .offset-top-25.offset-md-top-40
                    p.text-small.text-uppercase.text-gray-base.text-spacing-200.text-ubold Travel Consultant
                  .offset-top-8
                    p.text-small.text-small-variant-2.text-silver-chalice We are currently seeking to hire a professional travel consultant to service and support our clients.

              .owl-item
                .inset-lg-left-20.inset-lg-right-20
                  span.icon.icon-lg.icon-outlined
                    img.img-responsive.center-block(src="images/icons/icon-24-24x20.png" width="24" height="20" alt="")
                  .offset-top-25.offset-md-top-40
                    p.text-small.text-uppercase.text-gray-base.text-spacing-200.text-ubold travel Sales consultant
                  .offset-top-8
                    p.text-small.text-small-variant-2.text-silver-chalice If you have experience in travel business as well as in sales, we would be glad to consider your CV!

              .owl-item
                .inset-lg-left-20.inset-lg-right-20
                  span.icon.icon-lg.icon-outlined
                    img.img-responsive.center-block(src="images/icons/icon-22-18x22.png" width="18" height="22" alt="")
                  .offset-top-25.offset-md-top-40
                    p.text-small.text-uppercase.text-gray-base.text-spacing-200.text-ubold Travel manager
                  .offset-top-8
                    p.text-small.text-small-variant-2.text-silver-chalice SunTravel invites experienced travel managers to become a part of our friendly team.


        .offset-top-35.offset-md-top-65
          a.btn.btn-primary(href="#") View All Jobs

    // Positions
    section.section-80.bg-wild-wand
      .shell
        .range.range-xs-center
          .cell-sm-6.cell-md-4
            // Box
            .box.bg-white
              h5.text-ubold Travel Agent
              .offset-top-15
                p.text-small.text-silver-chalice Travel agents work as sales people for all things related to travel. They book hotel rooms, flights, trains, rental cars, and cruises.

              .offset-top-30
                a.btn.btn-xs.btn-xs-variant-2.btn-width-95.btn-primary(href="#") 35 positions

          .cell-sm-6.cell-md-4.offset-top-20.offset-sm-top-0
            // Box
            .box.bg-white.inset-lg-left-30.inset-lg-right-30
              h5.text-ubold Cruise Planner
              .offset-top-15
                p.text-small.text-silver-chalice The Cruise Planner at SunTravel is responsible for providing engaging and timely travel related updates to cruise travelers.

              .offset-top-30
                a.btn.btn-xs.btn-xs-variant-2.btn-width-95.btn-primary(href="#") 4 positions

          .cell-sm-6.cell-md-4.offset-top-20.offset-md-top-0
            // Box
            .box.bg-white
              h5.text-ubold Reservations Specialist
              .offset-top-15
                p.text-small.text-silver-chalice We’re looking for an enthusiastic and highly motivated individual with a strong sales and hotel reservations background.

              .offset-top-30
                a.btn.btn-xs.btn-xs-variant-2.btn-width-95.btn-primary(href="#") 17 positions

          .cell-sm-6.cell-md-4.offset-top-20
            // Box
            .box.bg-white
              h5.text-ubold Operations Manager
              .offset-top-15
                p.text-small.text-silver-chalice Increase your level of professionalism and get a chance to work in a friendly team of  specialists as SunTravel Operations Manager.

              .offset-top-30
                a.btn.btn-xs.btn-xs-variant-2.btn-width-95.btn-primary(href="#") 3 positions

          .cell-sm-6.cell-md-4.offset-top-20
            // Box
            .box.bg-white.inset-lg-left-30.inset-lg-right-30
              h5.text-ubold Traveler Support Specialist
              .offset-top-15
                p.text-small.text-silver-chalice This is your opportunity to break the mold of a typical customer service role by using your exceptional communication skills.

              .offset-top-30
                a.btn.btn-xs.btn-xs-variant-2.btn-width-95.btn-primary(href="#") 8 positions

          .cell-sm-6.cell-md-4.offset-top-20
            // Box
            .box.bg-white
              h5.text-ubold Tour Guide
              .offset-top-15
                p.text-small.text-silver-chalice Tourist guides show visitors around places of interest, such as towns and cities, historic buildings, gardens, religious sites etc.

              .offset-top-30
                a.btn.btn-xs.btn-xs-variant-2.btn-width-95.btn-primary(href="#") 8 positions

  // Page Footer
  include ../sections/_footer-default