extends  ../_skeleton

block title
  title Contact Us V2

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 7,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    // RD Parallax
    section.section-height-mac.context-dark
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-27-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .bg-overlay-darker
          .shell.section-34.section-md-100.section-lg-top-170.section-lg-bottom-165
            h1.veil.reveal-md-inline-block Contact Us
            .offset-top-4
              h6.text-italic Let`s keep in touch!

  // Page Content
  main.page-content

    // Contact Us V2
    section.section-80.bg-wild-wand
      .shell
        .box.box-insets-off.bg-white.reveal-lg-block
          .range.range-xs-center.range-md-justify.text-sm-left
            .cell-sm-8.cell-sm-push-1
              .box-inner
                h5.text-ubold Contact Our Agency

                .offset-top-25
                  p.text-small.text-left.
                    You can contact us any way that is convenient for you. We are available 24/7 via fax, email or telephone.
                    You can also use a quick contact form on the right or visit our office personally.  Email us with any
                    questions or inquiries or use our contact data. We would be happy to answer your questions.

                .range.range-xs-center.offset-top-40
                  .cell-sm-6
                    h5.text-ubold Our Contacts

                    .offset-top-25
                      // Contact Info
                      address.contact-info.text-left
                        p.reveal-block.text-small
                          a.text-gray(href="#")
                            span.unit.unit-horizontal.unit-spacing-xs
                              span.unit-left
                                img.img-responsive.center-block.offset-top-4(src="images/icons/icon-01-16x21.png" width="16" height="21" alt="")

                              span.unit-body
                                span 732/21 Second Street, Manchester, King Street, Kingston United Kingdom

                        .offset-top-20
                          p.reveal-inline-block.text-small
                            a.text-gray(href="callto:#")
                              span.unit.unit-middle.unit-horizontal.unit-spacing-xs
                                span.unit-left
                                  img.img-responsive.center-block(src="images/icons/icon-02-19x19.png" width="19" height="19" alt="")

                                span.unit-body
                                  span 345-677-554

                        .offset-top-20
                          p.reveal-inline-block.text-small
                            a.text-gray(href="callto:#")
                              span.unit.unit-middle.unit-horizontal.unit-spacing-xs
                                span.unit-left
                                  img.img-responsive.center-block(src="images/icons/icon-03-12x20.png" width="12" height="20" alt="")

                                span.unit-body
                                  span 323-678-567

                        .offset-top-20
                          p.reveal-inline-block.text-small
                            a.text-gray(href="mailto:#")
                              span.unit.unit-middle.unit-horizontal.unit-spacing-xs
                                span.unit-left
                                  img.img-responsive.center-block(src="images/icons/icon-04-20x13.png" width="20" height="13" alt="")

                                span.unit-body
                                  span info@demolink.org

                        .offset-top-20
                          p.reveal-inline-block.text-small
                            a.text-gray(href="#")
                              span.unit.unit-middle.unit-horizontal.unit-spacing-xs
                                span.unit-left
                                  img.img-responsive.center-block(src="images/icons/icon-05-19x19.png" width="19" height="19" alt="")

                                span.unit-body
                                  span demolink.org

                  .cell-sm-6
                    h5.text-ubold Any Questions?

                    .offset-top-25
                      // RD Mailform
                      form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                        .form-group.form-group-xs
                          label.form-label(for="questions-contact-name") Your Name
                          input#questions-contact-name.form-control.text-regular(type="text" name="name" data-constraints='@Required')
                        .form-group.form-group-xs
                          label.form-label(for="questions-contact-email") Email
                          input#questions-contact-email.form-control.text-regular(type="email" name="email" data-constraints="@Email @Required")
                        .form-group.form-group-xs
                          label.form-label(for="questions-contact-message") Message
                          textarea#questions-contact-message.form-control.text-regular(name="message" data-constraints="@Required" style="height:120px;")
                        .offset-top-20.text-center.text-sm-left
                          button(type="submit").btn.btn-width-110.btn-primary SEND MESSAGE

            .cell-sm-4.section-map-fullheight.inset-lg-right-20
              // RD Google Map
              .rd-google-map(class="rd-google-map__model", data-zoom='14', data-x='-73.9874068', data-y='40.643180', data-styles='[{"featureType":"administrative.country","elementType":"geometry","stylers":[{"visibility":"simplified"},{"hue":"#ff0000"}]}]')
                ul.map_locations
                  li(data-y='40.643180', data-x='-73.9874068')
                    p
                      | 9870 St Vincent Place, Glasgow, DC 45 Fr 45.

  // Page Footer
  include ../sections/_footer-default