extends  ../_skeleton

block title
  title Down for Maintenance

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 4,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

  // Page Content
  main.page-content

    // Down for Maintenance
    section
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-20-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .shell.section-80.section-md-145
          .range.range-xs-center
            .cell-xs-9.cell-sm-7.cell-md-5.cell-lg-4
              // Box
              .box.box-lg.bg-white
                svg(x='0px', y='0px', width='84px', height='85px', viewbox='0 0 41.972 42.083')
                  g
                    path(fill='none', d='M6.289,33.294c-1.4,0-2.5,1.1-2.5,2.6c0,1.4,1.1,2.5,2.5,2.5c1.4,0,2.5-1.2,2.5-2.6\
                    C8.789,34.394,7.689,33.294,6.289,33.294z')
                    path(fill='#607D8B', d='M32.889,16.894c0,0-2.6,0-5.2-2.6c-2.6-2.6-2.6-5.2-2.6-5.2l8.7-8.7c-4.9-1.2-10.8,0.4-14.4,4\
                    c-5.4,5.4-0.6,12.3-2,13.7c-7.6,7.9-15.4,13.9-15.6,14.2c-2.3,2.3-2.4,6-0.2,8.2s5.9,2.1,8.2-0.2c0.3-0.3,6.7-8.4,14.2-15.9\
                    c1.4-1.4,8,3.7,13.6-1.8c3.5-3.6,5.2-9.4,4-14.3L32.889,16.894z M6.289,38.394c-1.4,0-2.5-1.1-2.5-2.5c0-1.5,1.1-2.6,2.5-2.6\
                    c1.4,0,2.5,1.1,2.5,2.5C8.789,37.194,7.689,38.394,6.289,38.394z')
                .offset-top-20
                  h5.text-ubold Down for Maintenance
                .offset-top-8
                  p.text-small We are preparing our website to give you the best user experience  you can possibly have on our website.
                .offset-top-20.offset-md-top-40
                  a.btn.btn-icon.btn-icon-left.btn-primary(href="index.html")
                    span.icon.icon-xxs.mdi.mdi-chevron-left
                    span Back to homepage


  // Page Footer
  include ../sections/_footer-default