extends  ../_skeleton

block title
  title Our Team

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 3,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    // RD Parallax
    section.section-height-mac.context-dark
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-08-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .bg-overlay-darker
          .shell.section-34.section-md-100.section-lg-top-170.section-lg-bottom-165
            h1.veil.reveal-md-inline-block Our Team
            .offset-top-4
              h6.text-italic A team of professionals who are passionate about traveling

  // Page Content
  main.page-content

    // Our Team
    section.section-80
      .shell
        .range.range-xs-center
          .cell-sm-8.cell-md-4
            // Team Member
            .team-member
              .team-member-img-wrap
                img.img-circle.img-responsive.center-block(src="images/users/user-01-100x100.jpg" width="100" height="100" alt="")
              .team-member-body
                .offset-top-20
                  .team-member-title.text-small.text-ubold.text-uppercase.text-spacing-200.text-gray-base John Richardson
                .offset-top-8
                  .team-member-description.text-spacing-300.text-italic.text-uppercase.text-silver-chalice FOUNDER & MANAGING DIRECTOR
                .offset-top-20
                  p.text-small.text-italic.text-silver-chalice A successful business owner, social entrepreneur, and business strategist, John is one of the most important persons at SunTravel, who founded it years ago.
              .team-member-hover-content.offset-top-20.offset-lg-top-0
                // Button trigger modal
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#teamMember') View FULL INFO

            .offset-top-20
              // List Inline
              ul.list-inline.list-primary.list-inline-13
                li.text-center
                  a.icon.fa.fa-facebook-f.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-twitter.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-youtube.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-linkedin.text-gray(href="#")

          .cell-sm-8.cell-md-4.offset-top-60.offset-md-top-0
            // Team Member
            .team-member
              .team-member-img-wrap
                img.img-circle.img-responsive.center-block(src="images/users/user-02-100x100.jpg" width="100" height="100" alt="")
              .team-member-body
                .offset-top-20
                  .team-member-title.text-small.text-ubold.text-uppercase.text-spacing-200.text-gray-base Leslie Silva
                .offset-top-8
                  .team-member-description.text-spacing-300.text-italic.text-uppercase.text-silver-chalice SENIOR TRAVEL AGENT
                .offset-top-20
                  p.text-small.text-italic.text-silver-chalice Leslie started out in the travel industry straight from school, working for the National Union of Students Travel Service, and quickly learned all the aspects of business travel.
              .team-member-hover-content.offset-top-20.offset-lg-top-0
                // Button trigger modal
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#teamMember') View FULL INFO

            .offset-top-20
              // List Inline
              ul.list-inline.list-primary.list-inline-13
                li.text-center
                  a.icon.fa.fa-facebook-f.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-twitter.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-youtube.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-linkedin.text-gray(href="#")

          .cell-sm-8.cell-md-4.offset-top-60.offset-md-top-0
            // Team Member
            .team-member
              .team-member-img-wrap
                img.img-circle.img-responsive.center-block(src="images/users/user-03-100x100.jpg" width="100" height="100" alt="")
              .team-member-body
                .offset-top-20
                  .team-member-title.text-small.text-ubold.text-uppercase.text-spacing-200.text-gray-base Kent Fleming
                .offset-top-8
                  .team-member-description.text-spacing-300.text-italic.text-uppercase.text-silver-chalice HOTEL AGENT
                .offset-top-20
                  p.text-small.text-italic.text-silver-chalice Kent started with SunTravel in May 2013, when he decided to change something in his life by entering the tour and hotel booking industry.
              .team-member-hover-content.offset-top-20.offset-lg-top-0
                // Button trigger modal
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#teamMember') View FULL INFO

            .offset-top-20
              // List Inline
              ul.list-inline.list-primary.list-inline-13
                li.text-center
                  a.icon.fa.fa-facebook-f.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-twitter.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-youtube.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-linkedin.text-gray(href="#")

    // Our Team
    section.section-80.bg-wild-wand.bg-wild-wand-team-member
      .shell
        .range.range-xs-center
          .cell-sm-8.cell-md-4
            // Team Member
            .team-member
              .team-member-img-wrap
                img.img-circle.img-responsive.center-block(src="images/users/user-03-100x100.jpg" width="100" height="100" alt="")
              .team-member-body
                .offset-top-20
                  .team-member-title.text-small.text-ubold.text-uppercase.text-spacing-200.text-gray-base jack Wilson
                .offset-top-8
                  .team-member-description.text-spacing-300.text-italic.text-uppercase.text-silver-chalice FINANCIAL MANAGER
                .offset-top-20
                  p.text-small.text-italic.text-silver-chalice Jack started with SunTravel in 2007 coming in to replace the previous accounts chap who was retiring. Now he is at the Head of our Financial Department.
              .team-member-hover-content.offset-top-20.offset-lg-top-0
                // Button trigger modal
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#teamMember') View FULL INFO

            .offset-top-20
              // List Inline
              ul.list-inline.list-primary.list-inline-13
                li.text-center
                  a.icon.fa.fa-facebook-f.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-twitter.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-youtube.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-linkedin.text-gray(href="#")

          .cell-sm-8.cell-md-4.offset-top-60.offset-md-top-0
            // Team Member
            .team-member
              .team-member-img-wrap
                img.img-circle.img-responsive.center-block(src="images/users/user-02-100x100.jpg" width="100" height="100" alt="")
              .team-member-body
                .offset-top-20
                  .team-member-title.text-small.text-ubold.text-uppercase.text-spacing-200.text-gray-base mary Smith
                .offset-top-8
                  .team-member-description.text-spacing-300.text-italic.text-uppercase.text-silver-chalice TOUR GUIDE
                .offset-top-20
                  p.text-small.text-italic.text-silver-chalice Right after her graduation from the local university, Mary became interested in traveling. She joined us in 2009, and her professional skills and dedication made her #1 Tour Guide.
              .team-member-hover-content.offset-top-20.offset-lg-top-0
                // Button trigger modal
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#teamMember') View FULL INFO

            .offset-top-20
              // List Inline
              ul.list-inline.list-primary.list-inline-13
                li.text-center
                  a.icon.fa.fa-facebook-f.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-twitter.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-youtube.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-linkedin.text-gray(href="#")

          .cell-sm-8.cell-md-4.offset-top-60.offset-md-top-0
            // Team Member
            .team-member
              .team-member-img-wrap
                img.img-circle.img-responsive.center-block(src="images/users/user-01-100x100.jpg" width="100" height="100" alt="")
              .team-member-body
                .offset-top-20
                  .team-member-title.text-small.text-ubold.text-uppercase.text-spacing-200.text-gray-base Nick Johnson
                .offset-top-8
                  .team-member-description.text-spacing-300.text-italic.text-uppercase.text-silver-chalice TRAVEL AGENT
                .offset-top-20
                  p.text-small.text-italic.text-silver-chalice Nick first gained his taste for travel as a Ticketing Consultant . However, he felt he needed something different, and it led him to our company’s Travel Agent position.
              .team-member-hover-content.offset-top-20.offset-lg-top-0
                // Button trigger modal
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#teamMember') View FULL INFO

            .offset-top-20
              // List Inline
              ul.list-inline.list-primary.list-inline-13
                li.text-center
                  a.icon.fa.fa-facebook-f.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-twitter.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-youtube.text-gray(href="#")
                li.text-center
                  a.icon.fa.fa-linkedin.text-gray(href="#")


  include ../sections/_team-member-more

  // Page Footer
  include ../sections/_footer-default