extends  ../_skeleton

block title
  title Site Map

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 4,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    // RD Parallax
    section.section-height-mac.context-dark
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-31-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .bg-overlay-darker
          .shell.section-34.section-md-100.section-lg-top-170.section-lg-bottom-165
            h1.veil.reveal-md-inline-block Sitemap
            .offset-top-4
              h6.text-italic Browse our website easily

  // Page Content
  main.page-content

    // Site Map
    section.section-80.bg-wild-wand.text-left
      .shell.shell-custom
        // Box
        .box.box-xs.inset-lg-left-40.inset-lg-right-40.reveal-block.bg-white
          .range.range-xs-center
            .cell-xs-6.cell-sm-5.cell-md-4.cell-lg-2
              div
                p.text-big.text-ubold
                  a.text-gray-base(href="about.html") About

              .offset-top-8
                hr.hr.bg-gallery

              .offset-top-20
                // List
                ul.list.p.text-small
                  li
                    a.text-gray(href='our-team.html') Our Team
                  li
                    a.text-gray(href='careers.html') Careers
                  li
                    a.text-gray(href='faq.html') FAQ
                  li
                    a.text-gray(href='testimonials.html') Testimonials
                  li
                    a.text-gray(href='contacts.html') Contacts
                  li
                    a.text-gray(href='contacts-variant-2.html') Contacts v2

            .cell-xs-6.cell-sm-5.cell-md-4.cell-lg-2.offset-top-40.offset-xs-top-0
              div
                p.text-big.text-ubold.text-gray-base Tours

              .offset-top-8
                hr.hr.bg-gallery

              .offset-top-20
                // List
                ul.list.p.text-small
                  li
                    a.text-gray(href='tours-grid.html') Tours Grid
                  li
                    a.text-gray(href='tours-grid-variant-2.html') Tours Grid v2
                  li
                    a.text-gray(href='tours-list.html') Tours List
                  li
                    a.text-gray(href='tours-single.html') Tours Single

            .cell-xs-6.cell-sm-5.cell-md-4.cell-lg-2.offset-top-40.offset-md-top-0
              div
                p.text-big.text-ubold.text-gray-base Gallery

              .offset-top-8
                hr.hr.bg-gallery

              .offset-top-20
                // List
                ul.list.p.text-small
                  li
                    a.text-gray(href='gallery-cobbles.html') Gallery Cobbles
                  li
                    a.text-gray(href='gallery-fullwidth.html') Gallery Fullwidth
                  li
                    a.text-gray(href='gallery-grid.html') Gallery Grid
                  li
                    a.text-gray(href='gallery-masonry.html') Gallery Masonry

            .cell-xs-6.cell-sm-5.cell-md-6.cell-lg-2.offset-top-40.offset-lg-top-0
              div
                p.text-big.text-ubold.text-gray-base News

              .offset-top-8
                hr.hr.bg-gallery

              .offset-top-20
                // List
                ul.list.p.text-small
                  li
                    a.text-gray(href='blog-grid.html') Blog Grid
                  li
                    a.text-gray(href='blog-grid-sidebar-left.html') Blog Grid Sidebar
                  li
                    a.text-gray(href='blog-list.html') Blog List
                  li
                    a.text-gray(href='blog-list-sidebar-left.html') Blog List Sidebar
                  li
                    a.text-gray(href='blog-list-variant-2.html') Blog List v2
                  li
                    a.text-gray(href='blog-list-variant-2-sidebar-left.html') Blog List v2 Sidebar
                  li
                    a.text-gray(href='blog-masonry.html') Blog Masonry
                  li
                    a.text-gray(href='blog-modern.html') Blog Modern
                  li
                    a.text-gray(href='blog-single-post.html') Blog Single Post
                  li
                    a.text-gray(href='blog-single-post-sidebar-left.html') Blog Single Post Sidebar

            .cell-xs-10.cell-md-6.cell-lg-4.offset-top-40.offset-lg-top-0
              div
                p.text-big.text-ubold.text-gray-base Additional Pages

              .offset-top-8
                hr.hr.bg-gallery

              .range.range-xs-center.offset-top-20
                .cell-xs-6
                  // List
                  ul.list.p.text-small
                    li
                      a.text-gray(href='press.html') Press
                    li
                      a.text-gray(href='services.html') Services
                    li
                      a.text-gray(href='pricing.html') Pricing
                    li
                      a.text-gray(href='destinations.html') Destinations
                    li
                      a.text-gray(href='signup.html') Sign Up
                    li
                      a.text-gray(href='signup-variant-2.html') Sign Up v2
                    li
                      a.text-gray(href='login.html') Login
                    li
                      a.text-gray(href='forgot-password.html') Forgot Password
                    li
                      a.text-gray(href='sitemap.html') Sitemap

                .cell-xs-6.offset-top-12.offset-xs-top-0
                  // List
                  ul.list.p.text-small
                    li
                      a.text-gray(href='privacy.html') Privacy Policy
                    li
                      a.text-gray(href='terms-of-use.html') Terms Of Use
                    li
                      a.text-gray(href='search-results.html') Search Results
                    li
                      a.text-gray(href='404.html') 404
                    li
                      a.text-gray(href='503.html') 503
                    li
                      a.text-gray(href='comingsoon.html') Coming Soon
                    li
                      a.text-gray(href='manitenance.html') Maintenance
                    li
                      a.text-gray(href='underconsruction.html') Under Construction

  // Page Footer
  include ../sections/_footer-default