extends  ../_skeleton

block title
  title Testimonials

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 3,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    // RD Parallax
    section.section-height-mac.context-dark
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-32-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .bg-overlay-darker
          .shell.section-34.section-md-100.section-lg-top-170.section-lg-bottom-165
            h1.veil.reveal-md-inline-block Testimonials
            .offset-top-4
              h6.text-italic The latest reviews submitted by our clients

  // Page Content
  main.page-content

    // Testimonials 1
    section.section-60
      .shell
        div
          h3 Testimonials 1
        .offset-top-0
          p Here is what our clients say

        .range.range-xs-center.offset-top-35
          .cell-sm-10
            // Owl Carousel
            .owl-carousel.owl-dots-primary.owl-navs-offset-inverse(data-items='1' data-stage-padding='0' data-loop='false' data-margin='0' data-mouse-drag="false" data-dots="true" data-nav="true" data-animation-in="fadeIn" data-animation-out="fadeOut")
              .owl-item
                // Blockquote
                blockquote.quote.quote-fullwidth
                  .quote-fullwidth-img-wrap
                    img.img-responsive.center-block(src="images/backgrounds/background-33-770x380.jpg" width="770" height="380" alt="")
                  .quote-fullwidth-body-top
                    div
                      label.label-custom.label-primary from $2500
                    .offset-top-8.offset-xs-top-15
                      h5.text-spacing-400.text-ubold THAILAND TOUR

                  .quote-fullwidth-body-bottom
                    .unit.unit-xs-middle.unit-xs.unit-xs-horizontal
                      .unit-left
                        img.img-circle.img-responsive(src="images/users/user-02-80x80.jpg" width="80" height="80" alt="")
                      .unit-body
                        div
                          p.text-small.text-ubold.text-uppercase.text-ubold.text-spacing-200
                            a.text-white(href="testimonials.html") Mary Anderson

                        .offset-top-4
                          p.text-small.text-italic
                            q “Leslie was an excellent Travel Agent for us and considered our unique needs as she planned our itinerary. Her every suggestion was excellent.”

              .owl-item
                // Blockquote
                blockquote.quote.quote-fullwidth
                  .quote-fullwidth-img-wrap
                    img.img-responsive.center-block(src="images/backgrounds/background-33-770x380.jpg" width="770" height="380" alt="")
                  .quote-fullwidth-body-top
                    div
                      label.label-custom.label-primary from $2500
                    .offset-top-8.offset-xs-top-15
                      h5.text-spacing-400.text-ubold THAILAND TOUR

                  .quote-fullwidth-body-bottom
                    .unit.unit-xs-middle.unit-xs.unit-xs-horizontal
                      .unit-left
                        img.img-circle.img-responsive(src="images/users/user-03-80x80.jpg" width="80" height="80" alt="")
                      .unit-body
                        div
                          p.text-small.text-ubold.text-uppercase.text-ubold.text-spacing-200
                            a.text-white(href="testimonials.html") Will johnson

                        .offset-top-4
                          p.text-small.text-italic
                            q “I would highly recommend Andy because everything on my month long trip to New Zealand, Australia and French Polynesia went without a hitch.”

              .owl-item
                // Blockquote
                blockquote.quote.quote-fullwidth
                  .quote-fullwidth-img-wrap
                    img.img-responsive.center-block(src="images/backgrounds/background-33-770x380.jpg" width="770" height="380" alt="")
                  .quote-fullwidth-body-top
                    div
                      label.label-custom.label-primary from $2500
                    .offset-top-8.offset-xs-top-15
                      h5.text-spacing-400.text-ubold THAILAND TOUR

                  .quote-fullwidth-body-bottom
                    .unit.unit-xs-middle.unit-xs.unit-xs-horizontal
                      .unit-left
                        img.img-circle.img-responsive(src="images/users/user-01-80x80.jpg" width="80" height="80" alt="")
                      .unit-body
                        div
                          p.text-small.text-ubold.text-uppercase.text-ubold.text-spacing-200
                            a.text-white(href="testimonials.html") james smith

                        .offset-top-4
                          p.text-small.text-italic
                            q “I’d like to send you a sincere "thank you" for all of your assistance during my recent trip to Colorado.  It was invaluable to me and I realize and appreciate it greatly.”

    // Testimonials 2
    section.section-70.section-md-bottom-80.bg-wild-wand.bg-wild-wand-team-member
      .shell
        div
          h3 Testimonials 2
        .offset-top-0
          p The most recent reviews

        .range.range-xs-center.offset-top-45
          .cell-sm-8.cell-md-4
            .inset-lg-left-20.inset-lg-right-20
              // Team Member
              .team-member
                .team-member-img-wrap.team-member-img-wrap-border-darker
                  img.img-circle.img-responsive.center-block(src="images/users/user-03-100x100.jpg" width="100" height="100" alt="")
                .team-member-body
                  .offset-top-15
                    .team-member-title.text-small.text-ubold.text-uppercase.text-spacing-200.text-gray-base Will johnson
                  .offset-top-8
                    .team-member-description.text-spacing-300.text-italic.text-uppercase.text-silver-chalice WEB DESIGNER
                  .offset-top-20
                    p.text-small.text-italic.text-silver-chalice “I would highly recommend Andy because everything on my month long trip to New Zealand, Australia and French Polynesia went without a hitch.”
                .team-member-hover-content.offset-top-20.offset-lg-top-0
                  // Button trigger modal
                  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#teamMember') View FULL INFO

          .cell-sm-8.cell-md-4.offset-top-60.offset-md-top-0
            .inset-lg-left-20.inset-lg-right-20
              // Team Member
              .team-member
                .team-member-img-wrap.team-member-img-wrap-border-darker
                  img.img-circle.img-responsive.center-block(src="images/users/user-02-100x100.jpg" width="100" height="100" alt="")
                .team-member-body
                  .offset-top-15
                    .team-member-title.text-small.text-ubold.text-uppercase.text-spacing-200.text-gray-base mary anderson
                  .offset-top-8
                    .team-member-description.text-spacing-300.text-italic.text-uppercase.text-silver-chalice SALES MANAGER
                  .offset-top-20
                    p.text-small.text-italic.text-silver-chalice “Leslie was an excellent Travel Agent for us and considered our unique needs as she planned our itinerary. Every suggestion she made was excellent.”
                .team-member-hover-content.offset-top-20.offset-lg-top-0
                  // Button trigger modal
                  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#teamMember') View FULL INFO

          .cell-sm-8.cell-md-4.offset-top-60.offset-md-top-0
            .inset-lg-left-20.inset-lg-right-20
              // Team Member
              .team-member
                .team-member-img-wrap.team-member-img-wrap-border-darker
                  img.img-circle.img-responsive.center-block(src="images/users/user-01-100x100.jpg" width="100" height="100" alt="")
                .team-member-body
                  .offset-top-15
                    .team-member-title.text-small.text-ubold.text-uppercase.text-spacing-200.text-gray-base james smith
                  .offset-top-8
                    .team-member-description.text-spacing-300.text-italic.text-uppercase.text-silver-chalice TAXI DRIVER
                  .offset-top-20
                    p.text-small.text-italic.text-silver-chalice “I’d like to send you a sincere "thank you" for all of your assistance during my recent trip to Colorado.  It was invaluable to me and I realize and appreciate it greatly.”
                .team-member-hover-content.offset-top-20.offset-lg-top-0
                  // Button trigger modal
                  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#teamMember') View FULL INFO

    // Testimonials 3
    section
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.05",
        "src": "images/backgrounds/background-34-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .shell.section-70.section-md-bottom-80
          div
            h3.text-white Testimonials 3
          .offset-top-0
            p.text-white Feel free to browse our most popular testimonials

          .offset-top-45
            .owl-carousel.owl-dots-white.owl-navs-white.owl-carusel-inset-left-right.owl-dots-lg-reveal.owl-navs-lg-veil(data-items='1' data-sm-items='2' data-md-items='3' data-stage-padding='5' data-loop='false' data-margin='60' data-mouse-drag="false" data-dots="true" data-nav="true")
              .owl-item
                // Blockquote
                blockquote.quote.quote-boxed.box.box-xs.bg-white.text-left
                  .quote-boxed-img-wrap
                    img.img-circle.img-responsive(src="images/users/user-01-60x60.jpg" width="60" height="60" alt="")
                  .quote-boxed-body
                    div
                      p.text-small.text-ubold.text-spacing-200.text-uppercase
                        a.text-gray-base(href="testimonials.html") James Smith
                    .offset-top-8
                      p.text-small.text-silver-chalice.text-italic
                        q “I’d like to send you a sincere "thank you" for all of your assistance during my recent trip to Colorado. It was invaluable!”

              .owl-item
                // Blockquote
                blockquote.quote.quote-boxed.box.box-xs.bg-white.text-left
                  .quote-boxed-img-wrap
                    img.img-circle.img-responsive(src="images/users/user-02-60x60.jpg" width="60" height="60" alt="")
                  .quote-boxed-body
                    div
                      p.text-small.text-ubold.text-spacing-200.text-uppercase
                        a.text-gray-base(href="testimonials.html") Mary Anderson
                    .offset-top-8
                      p.text-small.text-silver-chalice.text-italic
                        q “Leslie was an excellent Travel Agent for us and considered our unique needs as she planned our itinerary.”

              .owl-item
                // Blockquote
                blockquote.quote.quote-boxed.box.box-xs.bg-white.text-left
                  .quote-boxed-img-wrap
                    img.img-circle.img-responsive(src="images/users/user-03-60x60.jpg" width="60" height="60" alt="")
                  .quote-boxed-body
                    div
                      p.text-small.text-ubold.text-spacing-200.text-uppercase
                        a.text-gray-base(href="testimonials.html") Will Johnson
                    .offset-top-8
                      p.text-small.text-silver-chalice.text-italic
                        q “I would highly recommend Andy because everything on my month long trip to New Zealand went without a hitch.”

              .owl-item
                // Blockquote
                blockquote.quote.quote-boxed.box.box-xs.bg-white.text-left
                  .quote-boxed-img-wrap
                    img.img-circle.img-responsive(src="images/users/user-01-60x60.jpg" width="60" height="60" alt="")
                  .quote-boxed-body
                    div
                      p.text-small.text-ubold.text-spacing-200.text-uppercase
                        a.text-gray-base(href="testimonials.html") James Smith
                    .offset-top-8
                      p.text-small.text-silver-chalice.text-italic
                        q “I’d like to send you a sincere "thank you" for all of your assistance during my recent trip to Colorado. It was invaluable!”

              .owl-item
                // Blockquote
                blockquote.quote.quote-boxed.box.box-xs.bg-white.text-left
                  .quote-boxed-img-wrap
                    img.img-circle.img-responsive(src="images/users/user-02-60x60.jpg" width="60" height="60" alt="")
                  .quote-boxed-body
                    div
                      p.text-small.text-ubold.text-spacing-200.text-uppercase
                        a.text-gray-base(href="testimonials.html") Mary Anderson
                    .offset-top-8
                      p.text-small.text-silver-chalice.text-italic
                        q “Leslie was an excellent Travel Agent for us and considered our unique needs as she planned our itinerary.”

              .owl-item
                // Blockquote
                blockquote.quote.quote-boxed.box.box-xs.bg-white.text-left
                  .quote-boxed-img-wrap
                    img.img-circle.img-responsive(src="images/users/user-03-60x60.jpg" width="60" height="60" alt="")
                  .quote-boxed-body
                    div
                      p.text-small.text-ubold.text-spacing-200.text-uppercase
                        a.text-gray-base(href="testimonials.html") Will Johnson
                    .offset-top-8
                      p.text-small.text-silver-chalice.text-italic
                        q “I would highly recommend Andy because everything on my month long trip to New Zealand went without a hitch.”

  include ../sections/_team-member-more

  // Page Footer
  include ../sections/_footer-default