footer.page-footer.section-top-80.section-bottom-34.section-lg-bottom-15.text-sm-left
  .shell
    .range.range-xs-center
      .cell-sm-8.cell-md-12
        .range.range-xs-center
          .cell-sm-6.cell-md-3.cell-lg-4.cell-md-push-1
            a(href="index.html")
              img(width='148', height='30', src='images/logo-dark-148x30.png', alt='')

            .offset-top-20.inset-lg-right-80
              p.text-small Since 2002, we have been offering travel services of the highest quality, combining our energy and enthusiasm.

          .cell-sm-6.cell-md-3.cell-lg-2.cell-md-push-4
            p.text-big.text-gray-base Follow Us

            .offset-top-20
              // List Inline
              ul.list-inline
                li.text-center
                  a.icon.icon-square.icon-filled-gallery.fa.fa-facebook-f.text-gray(href="#")
                li.text-center
                  a.icon.icon-square.icon-filled-gallery.fa.fa-twitter.text-gray(href="#")
                li.text-center
                  a.icon.icon-square.icon-filled-gallery.fa.fa-youtube.text-gray(href="#")
                li.text-center
                  a.icon.icon-square.icon-filled-gallery.fa.fa-linkedin.text-gray(href="#")

            .offset-top-20.offset-md-top-40
              // Button trigger modal
              button.btn.btn-primary(type='button', data-toggle='modal', data-target='#subscribe' style="min-width:160px;") Subscribe

              // Modal
              #subscribe.modal.modal-custom.fade.text-center(tabindex='-1', role='dialog')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    .modal-body
                      .shell
                        .range.range-xs-center.range-xs-middle
                          .cell-sm-6.bg-image.bg-image-1
                          .cell-sm-6
                            .modal-body-column-content
                              div
                                h5.text-ubold Subscribe to #[br.veil.reveal-lg-inline-block] our newsletter
                              .offset-top-15
                                p.text-italic.text-small.text-gray-base Subscribe and #[code.text-ubold get 5% off] on your first tour!

                              .offset-top-35
                                // RD Mailform
                                form.rd-mailform.rd-mailform-subscribe(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                                  .form-group.form-group-xs
                                    label.form-label(for="contact-email") Enter Your email here...
                                    input#contact-email.form-control(type="email" name="email" data-constraints="@Email @Required")
                                  button(type="submit").btn.btn-block.btn-primary SUBSCRIBE

                              .offset-top-35
                                // List Inline
                                ul.list-inline.list-primary.list-inline-13
                                  li.text-center
                                    a.icon.fa.fa-facebook-f.text-gray-base(href="#")
                                  li.text-center
                                    a.icon.fa.fa-twitter.text-gray-base(href="#")
                                  li.text-center
                                    a.icon.fa.fa-youtube.text-gray-base(href="#")
                                  li.text-center
                                    a.icon.fa.fa-linkedin.text-gray-base(href="#")

          .cell-xs-8.cell-sm-12.cell-md-6.offset-top-40.offset-md-top-0.cell-md-push-2
            p.text-big.text-gray-base Our Contacts

            .offset-top-8.offset-sm-top-20
              // Contact Info
              address.contact-info.text-left
                .range.range-xs-center
                  .cell-sm-6
                    div
                      p.reveal-block.text-small
                        a.text-gray(href="#")
                          span.unit.unit-horizontal.unit-spacing-xs
                            span.unit-left
                              img.img-responsive.center-block.offset-top-4(src="images/icons/icon-01-16x21.png" width="16" height="21" alt="")

                            span.unit-body
                              span 732/21 Second Street, Manchester, King Street, Kingston United Kingdom

                    .offset-top-20
                      p.reveal-inline-block.text-small
                        a.text-gray(href="callto:#")
                          span.unit.unit-middle.unit-horizontal.unit-spacing-xs
                            span.unit-left
                              img.img-responsive.center-block(src="images/icons/icon-02-19x19.png" width="19" height="19" alt="")

                            span.unit-body
                              span 345-677-554


                  .cell-sm-6.offset-top-15.offset-sm-top-0
                    div
                      p.reveal-inline-block.text-small
                        a.text-gray(href="callto:#")
                          span.unit.unit-middle.unit-horizontal.unit-spacing-xs
                            span.unit-left
                              img.img-responsive.center-block(src="images/icons/icon-03-12x20.png" width="12" height="20" alt="")

                            span.unit-body
                              span 323-678-567

                    .offset-top-15
                      div
                        p.reveal-inline-block.text-small
                          a.text-gray(href="mailto:#")
                            span.unit.unit-middle.unit-horizontal.unit-spacing-xs
                              span.unit-left
                                img.img-responsive.center-block(src="images/icons/icon-04-20x13.png" width="20" height="13" alt="")

                              span.unit-body
                                span info@demolink.org

                    .offset-top-20
                      p.reveal-inline-block.text-small
                        a.text-gray(href="#")
                          span.unit.unit-middle.unit-horizontal.unit-spacing-xs
                            span.unit-left
                              img.img-responsive.center-block(src="images/icons/icon-05-19x19.png" width="19" height="19" alt="")

                            span.unit-body
                              span demolink.org



    .offset-top-110
      .hr.bg-gallery


    .range.range-xs-center.range-sm-justify.offset-top-8
      .cell-sm-5.cell-md-4.text-sm-left
        p.text-extra-small Copyright &#169; #[span(id="copyright-year").] SunTravel. All Rights Reserved.
        block footerLink

      .cell-sm-5.cell-md-4.text-sm-right.offset-top-0
        // List Inline
        ul.list-inline.list-inline-8
          li
            p.text-extra-small
              a.text-gray(href="privacy.html") Privacy Policy
          li
            p.text-extra-small
              a.text-gray(href="terms-of-use.html") Terms of Use
          li
            p.text-extra-small
              a.text-gray(href="contacts.html") Contact Support