// Aside
aside.blog-aside.box.box-xs.reveal-block.bg-white
  p.text-gray-base.text-ubold.text-uppercase.text-spacing-200 Search
  .offset-top-20
    // RD Search Form
    form.form-blog-search.form-blog-search-type-2.form-search.rd-search(action='search-results.html', method='GET')
      button.form-search-submit(type='submit')
        span.fa.fa-search
      .form-group.form-group-xs
        label.form-label.form-search-label.form-label-sm(for='blog-sidebar-form-search-widget') Enter your request
        input#blog-sidebar-form-search-widget.form-search-input.input-sm.form-control.input-sm(type='text', name='s', autocomplete='off')

  .offset-top-40
    hr.hr.bg-gallery

  .offset-top-35
    p.text-gray-base.text-ubold.text-uppercase.text-spacing-200 Categories

    .offset-top-20
      // List
      ul.list.list-1.list-modern
        li.text-small
          a.text-silver-chalice(href="#")
            span.pull-left Family (26)
            span.pull-right.text-ubold.icon.mdi.mdi-chevron-right
            span.clearfix
        li.text-small
          a.text-silver-chalice(href="#")
            span.pull-left Adventure (66)
            span.pull-right.text-ubold.icon.mdi.mdi-chevron-right
            span.clearfix
        li.text-small
          a.text-silver-chalice(href="#")
            span.pull-left Romantic (59)
            span.pull-right.text-ubold.icon.mdi.mdi-chevron-right
            span.clearfix
        li.text-small
          a.text-silver-chalice(href="#")
            span.pull-left Wildlife (55)
            span.pull-right.text-ubold.icon.mdi.mdi-chevron-right
            span.clearfix
        li.text-small
          a.text-silver-chalice(href="#")
            span.pull-left Beach (89)
            span.pull-right.text-ubold.icon.mdi.mdi-chevron-right
            span.clearfix
        li.text-small
          a.text-silver-chalice(href="#")
            span.pull-left Honeymoon (27)
            span.pull-right.text-ubold.icon.mdi.mdi-chevron-right
            span.clearfix
        li.text-small
          a.text-silver-chalice(href="#")
            span.pull-left Island (45)
            span.pull-right.text-ubold.icon.mdi.mdi-chevron-right
            span.clearfix

    .offset-top-30
      hr.hr.bg-gallery

    .offset-top-30
      p.text-gray-base.text-ubold.text-uppercase.text-spacing-200 Tags

      .group.group-xs.btn-tags.offset-top-25.text-left
        a.btn.btn-sm.btn-gray(href="#") Travel
        a.btn.btn-sm.btn-gray(href="#") Adventure
        a.btn.btn-sm.btn-gray(href="#") Relax
        a.btn.btn-sm.btn-gray(href="#") Brasil
        a.btn.btn-sm.btn-gray(href="#") Trip
        a.btn.btn-sm.btn-gray(href="#") Honeymoon
        a.btn.btn-sm.btn-gray(href="#") Promotions
        a.btn.btn-sm.btn-gray(href="#") North America