footer.page-footer.section-top-80.section-bottom-34.section-lg-top-60.section-lg-bottom-15
  .shell
    .range.range-xs-center
      .cell-sm-10.cell-lg-7
        a(href="index.html")
          img(width='148', height='30', src='images/logo-dark-148x30.png', alt='')

        .offset-top-20
          // List Inline
          ul.list-inline.list-inline-dashed.list-silver-chalice.text-uppercase.text-extra-small
            li
              a(href="index.html") Home
            li
              a(href="tours-grid.html") Tours
            li
              a(href="about.html") About
            li
              a(href="gallery-cobbles.html") Gallery
            li
              a(href="blog-grid.html") Blog
            li
              a(href="contacts.html") Contacts


        .offset-top-30.offset-lg-top-60
          p.text-extra-small.text-gray-base Copyright &#169; #[span(id="copyright-year").] #[a.text-primary.text-bold(href="index.html") SunTravel]. All Rights Reserved.