// Modal
#teamMember.modal.modal-custom.modal-team-member.fade.text-sm-left(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .shell
          .range.range-xs-center.range-xs-middle
            .cell-sm-5
              .bg-image.bg-image-2
            .cell-sm-7
              .modal-body-column-content
                .team-member
                  .team-member-img-wrap.veil-sm
                    img.img-circle.img-responsive.center-block(src="images/users/user-01-100x100.jpg" width="100" height="100" alt="")
                  .offset-top-15.offset-sm-top-0
                    .team-member-title.text-small.text-ubold.text-uppercase.text-spacing-200.text-gray-base James Smith
                  .offset-top-8
                    .team-member-description.text-spacing-300.text-italic.text-uppercase.text-silver-chalice Taxi driver & traveler
                  .offset-top-20.team-member-scroll-section
                    p.text-small.text-italic.text-silver-chalice.text-left I’d like to send you a sincere "thank you" for all of your assistance during my recent trip to Colorado. It was invaluable to me and I realize and appreciate it greatly. Your professionalism and efficiency were comforting and reassuring in any weather and environment. Moreover, none of the additional services I ordered at this traveling agency has been a failure yet. Everyone in the team of SunTravel knows how to do their work, and I think that’s why they are still among the leaders of traveling business. Every suggestion your staff made was excellent, as you considered my travel budget, time constraints, and personal likes and dislikes. I would definitely work with your agency again, especially with Kent, as he made my trip easy and stress-free. It was a real delight to work with you.


                .offset-top-35
                  // List Inline
                  ul.list-inline.list-primary.list-inline-13
                    li.text-center
                      a.icon.fa.fa-facebook-f.text-gray-base(href="#")
                    li.text-center
                      a.icon.fa.fa-twitter.text-gray-base(href="#")
                    li.text-center
                      a.icon.fa.fa-youtube.text-gray-base(href="#")
                    li.text-center
                      a.icon.fa.fa-linkedin.text-gray-base(href="#")