//
// Label Custom
// --------------------------------------------------

.label-custom {
  padding: 6px 15px;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 2px;
}