//
// Team Member
// --------------------------------------------------

.team-member {
  display: inline-block;

  &-img-wrap {
    display: inline-block;
    border-radius: 50%;
    border: 10px solid $brand-alabaster;
    
    &-border-darker {
      border-color: $brand-gallery;
    }
  }

  &-description {
    font-size: 10px;
    line-height: 1.2;
  }

  &-scroll-section {
    height: 160px;
    overflow-y: scroll;
  }

  @media (min-width: $screen-lg-min) {
    position: relative;
    z-index: 1;

    &:before, .team-member-hover-content {
      transition: .3s all ease;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba($white, .7);
    }

    .team-member-hover-content {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      visibility: hidden;
      @include transform(translate(-50%, 0));
    }

    &:hover {
      &:before {
        opacity: 1;
      }

      .team-member-hover-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}


// Scroll Bar
// --------------------------------------------------

.team-member {
  ::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width: 8px;
    height: 0;
  }

  ::-webkit-scrollbar-track {
    background-color: $brand-gallery;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: $brand-primary;
  }

  ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width: 8px;
    height: 0;
  }

  ::-webkit-scrollbar{
    width: 6px;
  }
}
