//
// Custom Thumbnails
// --------------------------------------------------

.thumbnail{
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;

  .caption{
    padding: 0;
    color: $gray-base;
  }
}

.img-thumbnail,
.thumbnail{
  box-shadow: none;
}

// Make thumbnails to fit entire container width
.thumbnail-block {
  display: block;

  > img,
  a > img {
    width: 100%;
    height: auto;
  }
}


// Thumbnails Classic
// --------------------------------------------------

.thumbnail-classic {
  display: block;

  img {
    width: 100%;
  }

  .figure {
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 50%;
      @include gradient-directional(rgba($gray-base, .9), transparent, 0deg);
    }
  }

  .figcaption {
    position: absolute;
    left: 10px;
    bottom: 18px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  &.thumbnail-classic-bordered {
    .figure {
      &, &:before, img {
        border-radius: 4px;
      }
    }
  }

  &.thumbnail-classic-fullwidth {
    border: 1px solid $white;

    &, .figure, img {
      width: 100%;
      height: 100%;
    }
  }
}




// Thumbnails Classic
// --------------------------------------------------

.thumbnail-rayen {
  display: block;

  .figure {
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      @include gradient-directional(rgba($gray-base, .7), transparent, 0deg);
    }
  }

  .figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    @include transform(translate(-50%, -50%));
  }

  @media (min-width: $screen-lg-min) {
    .figcaption {
      @include transform(translate(-50%, 100%));
    }

    .figure:before, .figcaption {
      opacity: 0;
      transition: .3s all ease;
    }

    &:hover {
      .figure:before, .figcaption {
        opacity: 1;
      }

      .figcaption {
        @include transform(translate(-50%, -50%));
      }
    }
  }
}