//
// Custom typography
// --------------------------------------------------

// Page
// -------------------------

.page {
  overflow: hidden;
}

// Page header
// -------------------------

.page-header {
  margin: 0;
  padding: 0;
  border: none;
}

// Fonts
// -------------------------

.font-default {
  font-family: $font-family-base;
}

// Basic Typography
// -------------------------

#{headings()} {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
.h1 {
  font-size: 36px;
  line-height: 1.3;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h1;
    font-size: $font-size-h1;
  }
}

h2,
.h2 {
  font-size: 30px;
  line-height: 1.4;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h2;
    font-size: $font-size-h2;
  }
}

h3,
.h3 {
  font-size: 28px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h3;
    font-size: $font-size-h3;
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h4;
    font-size: $font-size-h4;
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h5;
    font-size: $font-size-h5;
  }
}

h6,
.h6 {
  font-size: 17px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h6;
    font-size: $font-size-h6;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  a {
    transition: .3s all ease;
  }

  a:hover {
    color: $brand-primary;
  }

  .small {
    color: $gray-dark;
  }
}

p,
.p,
.list {
  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: $screen-xs) {
  .big {
    font-size: $font-size-large;
    line-height: floor(($font-size-large * $line-height-large));

    h1 &,
    .h1 & {
      font-size: 142.22%;
      line-height: 1.125;
    }

    h2 &,
    .h2 & {
      font-size: 147.36%;
      line-height: 1.142857142857143;
    }
  }
}

small,
.small {
  font-size: $font-size-small;
  line-height: floor(($font-size-small * $line-height-small));
}

blockquote small,
blockquote .small,
small,
.small {
  font-size: 93.75%;

  h1 &,
  .h1 & {
    font-size: 62.22222222222222%;
  }

  h2 &,
  .h2 & {
    font-size: 63.15789473684211%;
  }

  h3 &,
  .h3 & {
    font-size: 73.33333333333333%;
  }

  h4 &,
  .h4 & {
    font-size: 75%;
  }

  h5 &,
  .h5 & {
    font-size: 72.72727272727273%;
  }

  h6 &,
  .h6 & {
    font-size: 94.11764705882353%;
  }
}

code {
  padding: 5px 7px;
  font-size: 75%;
  color: $brand-danger;
  background-color: $gray-lighter;
  border-radius: 2px;
}

mark, .mark {
  background-color: $brand-primary;
  padding: .1em;
}

.text-extra-small-10 {
  font-size: 10px;
}

.text-extra-small {
  font-size: 12px;
  line-height: 30px;
}

.text-small {
  font-size: 14px;

  &-variant-2 {
    line-height: 21px;
  }
}

.text-big {
  font-size: 18px;
}

.line-height-1 {
  line-height: 1;
}

// Lists
// -------------------------

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  > li + li {
    margin-top: 10px;
  }
}

.list-1 {
  > li + li {
    margin-top: 1px;
  }
}

.list-12 {
  > li + li {
    margin-top: 12px;
  }
}

.list-modern {
  li {
    padding: 8px 16px;
    border-radius: 30px;
    border: 2px solid transparent;
  }

  .icon {
    margin-top: 3px;
  }

  @media (min-width: $screen-lg-min) {
    li, a, a[class*="text-"] {
      transition: .3s all ease;
    }

    li {
      &:hover {
        border-color: $brand-primary;
        a, a[class*="text-"] {
          color: $gray-base;
        }

        .icon {
          &:before {
            content: '\f24c';
          }
        }
      }
    }
  }
}

.list-checkboxs {
  li {
    .checkbox-inline {
      > span {
        color: $brand-silver-chalice;
      }

      > span, .checkbox-custom-dummy {
        transition: .3s all ease;
      }

      .checkbox-custom-dummy {
        border-color: $brand-silver-chalice;
      }

      &:hover {
        > span {
          color: $gray-base;
        }

        .checkbox-custom-dummy {
          border-color: $gray-base;
        }
      }
    }
  }
}

// List inline
//

.list-inline {
  margin-left: -5px;
  margin-right: -5px;

  > li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-inline-0 {
  margin-left: 0;
  margin-right: 0;

  > li {
    padding-left: 0;
    padding-right: 0;
  }
}

.list-inline-3 {
  margin-left: -3px;
  margin-right: -3px;

  > li {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.list-inline-8 {
  margin-left: -8px;
  margin-right: -8px;

  > li {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.list-inline-11 {
  margin-left: -11px;
  margin-right: -11px;

  > li {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.list-inline-13 {
  margin-left: -13px;
  margin-right: -13px;

  > li {
    padding-left: 13px;
    padding-right: 13px;
  }
}

// list marked
.list-inline-marked {
  li {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: -4px;
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-top: 1.5px;
      border-radius: 30px;
      background: $brand-silver-chalice;
      @include transform (translateY(-50%));
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &-offset-inverse-top {
    li {
      &:after {
        right: -4px;
        margin-top: 0;
      }
    }
  }
}

// list dashed
.list-inline-dashed {
  margin-left: -30px;

  li {
    padding-left: 20px;
    padding-right: 10px;

    &:after {
      content: '|';
      position: relative;
      right: -10px;
      padding-left: 10px;
      color: $brand-gallery;
    }

    &:last-child {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }

  &-xs {
    margin-left: -15px;

    li {
      padding-left: 15px;

      &:after {
        right: -12.5px;
        padding-left: 0;
      }
    }
  }

  &-sm {
    margin-left: -35px;

    li {
      padding-left: 35px;

      &:after {
        right: -22.5px;
        padding-left: 0;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .list-inline-dashed-vertival {
    [class*="cell-"],
    [class*="col-"],
    .owl-item {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 100%;
        width: 1px;
        background: #e8e8e8;
        @include transform(translateY(-50%));
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

.list-inline-modern {
  border-radius: 40px;
  padding-right: 18px;

  > li {
    vertical-align: middle;
    line-height: 1;

    &:first-child {
      padding-left: 0;
    }

    a, a[class*="text-"] {
      transition: .3s all ease;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}


// lists styling
.list-primary {
  li {
    a, a[class*="text-"] {
      transition: .3s all ease;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.list-silver-chalice {
  li {
    a, a[class*="text-"] {
      color: $brand-silver-chalice;
      transition: .3s all ease;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.list-primary-filled {
  li {
    a span[class*="bg-"] {
      transition: .3s background ease;
    }

    a span {
      border-radius: 2px;
    }

    a, a[class*="text-"], span[class*="text-"] {
      transition: .3s all ease;

      &:hover {
        &, span[class*="text-"] {
          color: $white;
        }

        &, a[class*="bg-"], span[class*="bg-"] {
          background: $brand-primary;
        }
      }
    }
  }
}

// Description Lists
dl {
  margin: 0;
}

// List terms
//

.list-terms {
  margin-top: 35px;
  dt + dd {
    margin-top: 5px;
  }
  dd + dt {
    margin-top: 25px;
  }
}

// List index
//

.list-index {
  counter-reset: li;

  li {
    .list-index-counter {
      &:before {
        content: counter(li, decimal-leading-zero);
        counter-increment: li;
      }
    }
  }
}

// List marked
//

.list-marked {
  li {
    position: relative;
    padding-left: 16px;

    &:before {
      content: '';
      display: inline-block;
      background: $gray-dark;
      width: 3px;
      height: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      @include transform (translateY(-50%));
    }
  }

  &-icon {
    li {
      position: relative;
      padding-left: 33px;

      &:before {
        content: '\f00c';
        position: absolute;
        top: 4px;
        left: 13px;
        display: inline-block;
        font: 700 10px/10px "FontAwesome";
        color: $brand-primary;
      }
    }
  }
}

// Shadows
// -------------------------

.shadow-drop-ambient {
  box-shadow: $shadow-area-ambient;
}

.shadow-drop-xxs {
  box-shadow: $shadow-area-xxs;
}

.shadow-drop-xs {
  box-shadow: $shadow-area-xs;
}

.shadow-drop-sm {
  box-shadow: $shadow-area-sm;
}

.shadow-drop,
.shadow-drop-md {
  box-shadow: $shadow-area-md;
}

.shadow-drop-lg {
  box-shadow: $shadow-area-lg;
}

.shadow-drop-xl {
  box-shadow: $shadow-area-xl;
}

// Misc
// -------------------------

// Blockquotes
blockquote {
  q {
    &:before,
    &:after {
      content: none;
    }
  }
  cite {
    font-style: normal;
  }
}

// Addresses
address {
  margin-top: 0;
  margin-bottom: 0;
}

// Backgrounds
// -------------------------

// Contextual backgrounds
//

.page {
  .bg-gray-base {
    @include bg-variant-custom(#{$gray-base});
  }

  .bg-gray {
    @include bg-variant-custom(#{$gray});
  }

  .bg-gallery {
    @include bg-variant-custom(#{$brand-gallery});
  }

  .bg-wild-wand {
    @include bg-variant-custom(#{$brand-wild-wand});

    &.bg-wild-wand-team-member {
      .team-member:before {
        background: rgba($brand-wild-wand, 0.7);
      }
    }
  }

  .bg-white {
    @include bg-variant-custom(#{$white});
  }

  .bg-white-light {
    @include bg-variant-custom(#{$white-light});
  }

  .bg-alto {
    @include bg-variant-custom(#{$brand-alto});
  }

  .bg-alabaster {
    @include bg-variant-custom(#{$brand-alabaster});
  }
}

// Overlay backgrounds
//

.bg-overlay-darker {
  background: rgba($gray-base, .3);
}

.bg-overlay-darkers {
  background: rgba($gray-base, .7);
}

.bg-overlay-inverse-md-darker {
  background: rgba($gray-base, .35);

  @media (min-width: $screen-md-min) {
    background: transparent;
  }
}

// Colors
// -------------------------

// Contextual colors
//

.page {
  @include text-emphasis-variant('.text-white', $white);
  @include text-emphasis-variant('.text-gray-base', $gray-base);
  @include text-emphasis-variant('.text-gray-darker', $gray-darker);
  @include text-emphasis-variant('.text-gray-dark', $gray-dark);
  @include text-emphasis-variant('.text-gray', $gray);
  @include text-emphasis-variant('.text-gray-light', $gray-light);
  @include text-emphasis-variant('.text-gray-lighter', $gray-lighter);
  @include text-emphasis-variant('.text-primary', $brand-primary);
  @include text-emphasis-variant('.text-silver-chalice', $brand-silver-chalice);
  @include text-emphasis-variant('.text-gallery', $brand-gallery);
  @include text-emphasis-variant('.text-silver', $brand-silver);
  @include text-emphasis-variant('.text-mercury', $brand-mercury);
  @include text-emphasis-variant('.text-alto', $brand-alto);
}

// Page footer
// -------------------------

.page-footer {

}