extends  ../_skeleton

//- Includes
include ../elements/_ui-post-boxed
include ../elements/_ui-blog-top-panel

block title
  title Blog List Sidebar

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 6,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    // RD Parallax
    section.section-height-mac.context-dark
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-22-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .bg-overlay-darker
          .shell.section-34.section-md-100.section-lg-top-170.section-lg-bottom-165
            h1.veil.reveal-md-inline-block Our Blog
            .offset-top-4
              h6.text-italic Latest News in Travel and Tourism

  // Page Content
  main.page-content

    // Our Blog
    section.section-80.bg-wild-wand
      .shell
        .range.range-xs-center
          .cell-sm-11.cell-md-9.cell-md-push-1
            .range.range-xs-justify
              .cell-sm-6.cell-sm-3.text-sm-left
                .reveal-inline-block.inset-sm-left-20.inset-md-left-0
                  .pull-left.inset-right-10
                    p.text-extra-small.text-uppercase.text-gray-base Sort By:
                  .pull-right.shadow-drop-xs.reveal-inline-block.select-xs
                    //Select 2
                    select.form-control.select-filter(data-minimum-results-for-search="Infinity" data-constraints="@Required")
                      option(value="2") Newest
                      option(value="3") Eldest

                  .clearfix
              .cell-sm-6.cell-sm-3.offset-top-20.offset-sm-top-0.text-sm-right
                .reveal-inline-block.inset-sm-right-20.inset-md-right-0
                  .pull-left.inset-right-10
                    p.text-extra-small.text-uppercase.text-gray-base View:
                  .pull-right
                    +blog-top-panel([
                      {
                        "iconStyle": "icon-sm icon-square bg-primary mdi mdi-view-stream text-white",
                        "href": "blog-list-sidebar-left.html"
                      },
                      {
                        "iconStyle": "icon-sm icon-square bg-white mdi mdi-format-list-bulleted text-silver",
                        "href": "blog-list-variant-2-sidebar-left.html"
                      },
                      {
                        "iconStyle": "icon-sm icon-square bg-white mdi mdi-view-module text-silver",
                        "href": "blog-grid-sidebar-left.html"
                      }
                    ])

            .offset-top-50.offset-md-top-25
              +post-box({
                "postStyle": "post-box-wide reveal-block text-left",
                "href": "blog-single-post-sidebar-left.html",
                "img": {
                  "src": "images/blog/post-01-1170x440.jpg",
                  "width": "1170",
                  "height": "440"
                },
                "title": {
                  "style": "h5 text-ubold",
                  "linkStyle": "text-gray-base",
                  "text": "Dubai: The Las Vegas of the Middle East?"
                },
                "list": {
                  "style": "list-inline-dashed list-inline-dashed-sm text-extra-small text-silver-chalice offset-top-4"
                }
              },
              [
                {
                  "style": "text-uppercase",
                  "text": "JUNE 20, 2016",
                  "icon": true,
                  "img": {
                    "src": "images/icons/icon-16-16x15.png",
                    "width": "16",
                    "height": "15"
                  }
                },
                {
                  "href": "testimonials.html",
                  "style": "text-uppercase",
                  "text": "EMMA STONE",
                  "icon": true,
                  "img": {
                    "src": "images/icons/icon-17-16x15.png",
                    "width": "16",
                    "height": "15"
                  }
                }
              ])
                .offset-top-12
                  p.text-small.text-silver-chalice Dubai. It’s a city that conjures up images of Vegas-like glitz (minus the gambling and drinking). Before visiting last month, my friends painted a picture of a city hot, filled with malls and expensive stores, restaurants, lots of expats, and a bit soulless. “It’s artificial and fake like Vegas and doesn’t demand more than a day or two,” they told me.

                .offset-top-25
                  a.btn.btn-primary.btn-width-110(href="blog-single-post-sidebar-left.html") Read More

            .offset-top-30
              +post-box({
                "postStyle": "post-box-wide reveal-block text-left",
                "href": "blog-single-post-sidebar-left.html",
                "img": {
                  "src": "images/blog/post-02-1170x440.jpg",
                  "width": "1170",
                  "height": "440"
                },
                "title": {
                  "style": "h5 text-ubold",
                  "linkStyle": "text-gray-base",
                  "text": "How to Find the Best Travel Deals"
                },
                "list": {
                  "style": "list-inline-dashed list-inline-dashed-sm text-extra-small text-silver-chalice offset-top-4"
                }
              },
              [
                {
                  "style": "text-uppercase",
                  "text": "JUNE 20, 2016",
                  "icon": true,
                  "img": {
                    "src": "images/icons/icon-16-16x15.png",
                    "width": "16",
                    "height": "15"
                  }
                },
                {
                  "href": "testimonials.html",
                  "style": "text-uppercase",
                  "text": "EMMA STONE",
                  "icon": true,
                  "img": {
                    "src": "images/icons/icon-17-16x15.png",
                    "width": "16",
                    "height": "15"
                  }
                }
              ])
                .offset-top-12
                  p.text-small.text-silver-chalice A lot of people think travel is just plain expensive, but in reality there are incredible deals happening all the time. They usually don’t last too long, and you have to act quickly. That can sometimes be a problem when a deal requires jumping on a plane tomorrow (how many people can do that?), but in fact most deals are for months in the future.

                .offset-top-25
                  a.btn.btn-primary.btn-width-110(href="blog-single-post-sidebar-left.html") Read More

            .offset-top-30
              +post-box({
                "postStyle": "post-box-wide reveal-block text-left",
                "href": "blog-single-post-sidebar-left.html",
                "img": {
                  "src": "images/blog/post-03-1170x440.jpg",
                  "width": "1170",
                  "height": "440"
                },
                "title": {
                  "style": "h5 text-ubold",
                  "linkStyle": "text-gray-base",
                  "text": "Planning a Trip to a Place Where You’ve Never Been"
                },
                "list": {
                  "style": "list-inline-dashed list-inline-dashed-sm text-extra-small text-silver-chalice offset-top-4"
                }
              },
              [
                {
                  "style": "text-uppercase",
                  "text": "JUNE 20, 2016",
                  "icon": true,
                  "img": {
                    "src": "images/icons/icon-16-16x15.png",
                    "width": "16",
                    "height": "15"
                  }
                },
                {
                  "href": "testimonials.html",
                  "style": "text-uppercase",
                  "text": "EMMA STONE",
                  "icon": true,
                  "img": {
                    "src": "images/icons/icon-17-16x15.png",
                    "width": "16",
                    "height": "15"
                  }
                }
              ])
                .offset-top-12
                  p.text-small.text-silver-chalice While I have no intention of ever planning trips day-by-day, I never like to go somewhere blind — it’s a sure-fire way to get ripped off, eat the wrong thing, get sick etc. Knowledge is power, and given that so much information about is available online, I feel that it is a good way to discover something new and educate yourself.

                .offset-top-25
                  a.btn.btn-primary.btn-width-110(href="blog-single-post-sidebar-left.html") Read More

            .offset-top-30
              +post-box({
                "postStyle": "post-box-wide reveal-block text-left",
                "href": "blog-single-post-sidebar-left.html",
                "img": {
                  "src": "images/blog/post-07-1170x440.jpg",
                  "width": "1170",
                  "height": "440"
                },
                "title": {
                  "style": "h5 text-ubold",
                  "linkStyle": "text-gray-base",
                  "text": "How to Choose Your Ideal Travel Destination"
                },
                "list": {
                  "style": "list-inline-dashed list-inline-dashed-sm text-extra-small text-silver-chalice offset-top-4"
                }
              },
              [
                {
                  "style": "text-uppercase",
                  "text": "JUNE 20, 2016",
                  "icon": true,
                  "img": {
                    "src": "images/icons/icon-16-16x15.png",
                    "width": "16",
                    "height": "15"
                  }
                },
                {
                  "href": "testimonials.html",
                  "style": "text-uppercase",
                  "text": "EMMA STONE",
                  "icon": true,
                  "img": {
                    "src": "images/icons/icon-17-16x15.png",
                    "width": "16",
                    "height": "15"
                  }
                }
              ])
                .offset-top-12
                  p.text-small.text-silver-chalice You have vacation days coming up? Finally! You have been dreaming of taking holidays for long. Now it is here, finally, you are ready to escape the office… but where should you go? It does not happen every day, so you want to find the perfect holiday destination… Welcome to our guide of your next ideal travel destination.

                .offset-top-25
                  a.btn.btn-primary.btn-width-110(href="blog-single-post-sidebar-left.html") Read More

            .offset-top-50
              // Classic Pagination
              nav
                ul.pagination-classic
                  li.active
                    span 1
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') ...
                  li
                    a(href='#') 12

          .cell-sm-11.cell-md-3.offset-top-50.offset-md-top-0.text-md-left
            include ../sections/_section-blog-sidebar

  // Page Footer
  include ../sections/_footer-default