extends  ../_skeleton

block title
  title Forgot Password?

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 4,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

  // Page Content
  main.page-content

    // Forgot Password?
    section
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-18-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .shell.section-80.section-md-145
          .range.range-xs-center
            .cell-xs-9.cell-sm-7.cell-md-5.cell-lg-4.text-left
              // Box
              .box.box-lg.box-lg-variant-2.bg-white
                div
                  h5.text-ubold Forgot Password?
                .offset-top-4
                  p.text-small To reset your password, enter the email address you use to #[a.text-primary(href="login.html") Log In].

                .offset-top-30
                  form.rd-mailform
                    .form-group.form-group-xs
                      label.form-label(for="forgot-password-email") Your Email
                      input#forgot-password-email.form-control(type="email" name="forgot-password-email" data-constraints='@Email @Required')
                    .offset-top-20
                      button.btn.btn-block.btn-primary(type="submit") RESTORE PASSWORD

  // Page Footer
  include ../sections/_footer-default