extends  ../_skeleton

block title
  title Search results

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 4,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    // RD Parallax
    section.section-height-mac.context-dark
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-30-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .bg-overlay-darker
          .shell.section-34.section-md-100.section-lg-top-170.section-lg-bottom-165
            h1.veil.reveal-md-inline-block Search Results
            .offset-top-4
              h6.text-italic Here are the most relevant search results according to your request

            .range.range-xs-center.offset-top-30
              .cell-sm-8.cell-lg-6
                // RD Search Form
                form.form-search-results.form-search.rd-search(action='search-results.html', method='GET')
                  button.form-search-submit(type='submit')
                    span.fa.fa-search
                  .form-group.form-group-xs
                    label.form-label.form-search-label.form-label-sm(for='search-results-form-search-widget') Enter a keyword
                    input#search-results-form-search-widget.form-search-input.input-sm.form-control.input-sm(type='text', name='s', autocomplete='off')

  // Page Content
  main.page-content

    section.section-80.bg-wild-wand
      .shell

        .rd-search-results

  // Page Footer
  include ../sections/_footer-default