extends  ../_skeleton

//- Includes
include ../elements/_ui-blog-top-panel

block title
  title Tours Grid Variant 2

block page
  // Page Header
  header.page-header
    +rd-navbar-default({
      "style": "rd-navbar-light",
      "logo": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "logoFixed": '<img width="148" height="30" src="images/logo-dark-148x30.png" alt="">',
      "activeLink": 2,
      "attr": {
        "data-layout": "rd-navbar-fixed",
        "data-sm-layout": "rd-navbar-fixed",
        "data-md-layout": "rd-navbar-fullwidth",
        "data-lg-layout": "rd-navbar-static"
      }
    })

    // RD Parallax
    section.section-height-mac.context-dark
      +rd-parallax({
        "on": "false",
        "MdOn": "true",
        "firstLayerType": "media",
        "firstLayerSpeed": "0.25",
        "src": "images/backgrounds/background-38-1920x900.jpg",
        "secondLayerType": "html",
        "secondLayerSpeed": "0",
        "fade": "false"
      })
        .bg-overlay-darker
          .shell.section-34.section-md-100.section-lg-top-170.section-lg-bottom-165
            h1.veil.reveal-md-inline-block All Tours For You
            .offset-top-4
              h6.text-italic 650 tours found

  // Page Content
  main.page-content

    // Tours Grid Variant 2
    section.section-80.section-md-bottom-70.bg-wild-wand
      .shell
        .range.range-xs-center
          .cell-sm-11.cell-md-9.cell-md-push-1
            .range.range-xs-justify
              .cell-sm-6.cell-sm-3.text-sm-left
                .reveal-inline-block.inset-sm-left-20.inset-md-left-0
                  .pull-left.inset-right-10
                    p.text-extra-small.text-uppercase.text-gray-base Sort By:
                  .pull-right.shadow-drop-xs.reveal-inline-block.select-xs
                    //Select 2
                    select.form-control.select-filter(data-minimum-results-for-search="Infinity" data-constraints="@Required")
                      option(value="2") Popularity
                      option(value="3") Newest

                  .clearfix
              .cell-sm-6.cell-sm-3.offset-top-20.offset-sm-top-0.text-sm-right
                .reveal-inline-block.inset-sm-right-20.inset-md-right-0
                  .pull-left.inset-right-10
                    p.text-extra-small.text-uppercase.text-gray-base View:
                  .pull-right
                    +blog-top-panel([
                      {
                        "iconStyle": "icon-sm icon-square bg-white mdi mdi-format-list-bulleted text-silver",
                        "href": "tours-list.html"
                      },
                      {
                        "iconStyle": "icon-sm icon-square bg-primary mdi mdi-view-module text-white",
                        "href": "tours-grid.html"
                      }
                    ])

            .range.range-xs-center.range-sm-left.range-md-center.offset-top-50.offset-md-top-25
              .cell-sm-6.cell-md-4
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-01-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") Turkey
                    .pull-right
                      .box-offer-price.text-gray-base $2,000

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Istanbul, Antalya, Ephesus
                        li 8 days


              .cell-sm-6.cell-md-4.offset-top-30.offset-sm-top-0
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-02-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") Spain
                    .pull-right
                      .box-offer-price.text-gray-base $3,000

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Madrid, Andalucia, Barcelona
                        li 9 days

              .cell-sm-6.cell-md-4.offset-top-30.offset-md-top-0
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-03-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") United Kingdom
                    .pull-right
                      .box-offer-price.text-gray-base $5,000

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li England, Scotland, Wales
                        li 13 days

              .cell-sm-6.cell-md-4.offset-top-30
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-04-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") Eastern Europe
                    .pull-right
                      .box-offer-price.text-gray-base $2,500

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Slovenia, Hungary, Poland
                        li 10 days

              .cell-sm-6.cell-md-4.offset-top-30
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-05-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") Italy
                    .pull-right
                      .box-offer-price.text-gray-base $2,700

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Rome, Milan, Venice
                        li 7 days

              .cell-sm-6.cell-md-4.offset-top-30
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-06-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") Swiss Alps
                    .pull-right
                      .box-offer-price.text-gray-base $5,100

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Zurich, Geneve, Luzern
                        li 13 days

              .cell-sm-6.cell-md-4.offset-top-30
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-01-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") India
                    .pull-right
                      .box-offer-price.text-gray-base $2,1500

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Delhi, Goa, Shimla
                        li 6 days


              .cell-sm-6.cell-md-4.offset-top-30
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-02-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") Southern USA
                    .pull-right
                      .box-offer-price.text-gray-base $5,200

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Florida, Texas, California
                        li 9 days

              .cell-sm-6.cell-md-4.offset-top-30
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-03-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") Czech Republic
                    .pull-right
                      .box-offer-price.text-gray-base $3,200

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Prague , Cesky Krumlov
                        li 7 days

              .cell-sm-6.cell-md-4.offset-top-30
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-04-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") Northern Europe
                    .pull-right
                      .box-offer-price.text-gray-base $2,600

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Denmark, Sweden, Norway
                        li 8 days

              .cell-sm-6.cell-md-4.offset-top-30
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-05-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") Cyprus & Malta
                    .pull-right
                      .box-offer-price.text-gray-base $3,100

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Larnaca, Mdina, Valletta
                        li 5 days

              .cell-sm-6.cell-md-4.offset-top-30
                // Box Offer
                .box-offer.box-offer-xs
                  .box-offer-img-wrap
                    a(href="tours-single.html")
                      img.img-responsive.center-block(src="images/offers/box-offer-06-270x240.jpg" width="270" height="240" alt="")
                  .box-offer-caption.text-left
                    .pull-left
                      .box-offer-title.text-ubold
                        a.text-gray-base(href="tours-single.html") Germany
                    .pull-right
                      .box-offer-price.text-gray-base $4,400

                    .clearfix

                    .offset-top-8.offset-xs-top-4
                      // List Inline
                      ul.list-inline.list-inline-13.list-inline-marked.list-inline-marked-offset-inverse-top.text-silver-chalice.text-extra-small
                        li Berlin, Cologne, Hamburg
                        li 10 days

            .offset-top-50
              // Classic Pagination
              nav
                ul.list-inline.pagination-modern
                  li.prev
                    a.icon.icon-xxs.icon-circle.mdi.mdi-chevron-left(href='#')
                  li
                    .form-group.form-group-xs
                      label.form-label(for="tours-pagination") 1
                      input#tours-pagination.form-control(type="text" name="tours-pagination")
                  li.text-silver-chalice of 8
                  li.next
                    a.icon.icon-xxs.icon-circle.mdi.mdi-chevron-right(href='#')


          .cell-sm-10.cell-md-3.offset-top-50.offset-md-top-0.text-md-left
            include ../sections/_section-tour-sidebar

  // Page Footer
  include ../sections/_footer-default