body {
  
  color: #5a5a5a;
}


@media (max-width: 768px) {

  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    max-width:inherit;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
  #main-body {
    background-color: white
  }

  #button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

  #selection {
    border-radius: 4px;
    width:100px;
  }

  a:link {
    text-decoration: none;
  }

  .pac-container {
    margin-top: 5px !important;
    border-radius: 5px !important;
}

  .pac-item {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

/* hide up/down arrows ("spinners") on input fields marked type="number" */
  .number {
  -moz-appearance:textfield;
}

  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}