// Contexts
// -------------------------

%context-light {
  // Text Styles
  &, a,
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: $gray-darker;
  }
}

%context-dark {
  // Text Styles
  &, a,
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: $white;
  }

  .list-inline-marked li:after {
    background: $white;
  }
}

.context-light {
  @extend %context-light;
}

.context-dark {
  @extend %context-dark;
}