//
// Box Pricing
// --------------------------------------------------

.box-pricing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: $white;
  border-radius: 6px;
  box-shadow: $shadow-area-sm;
  transition: .3s all ease;

  .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .text-extra-small {
    line-height: 18px;
  }

  &-inner {
    padding: 15% 11%;
  }

  &-label {
    display: none;
    z-index: 2;
    color: $white;

    span {
      position: absolute;
    }
  }

  .box-pricing-price {
    font-size: 72px;
    line-height: 1;

    sup {
      font-size: 40px;
    }

    sub {
      position: relative;
      bottom: -1px;
      font-size: 30px;
    }
  }

  .box-pricing-label {
    position: absolute;
    top: -5px;
    left: -5px;
    font-size: 10px;
    font-weight: 900;
    line-height: 34px;
    text-transform: uppercase;

    > span {
      top: 15px;
      left: 3px;
      @include transform(rotate(-47deg));
    }

    .box-pricing-svg {
      width: 86px;
      height: 86px;
      fill: $brand-turquoise;
    }
  }

  &.active {
    margin-top: -8px;
  }

  .box-pricing-body {
    padding: 11% 8% 8% 8%;
    border: 1px solid $gray-lighter;
    border-top: none;
  }

  &.active {
    .box-pricing-label {
      display: block;
    }
  }

  &:hover {
    box-shadow: $shadow-area-md;
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
    .box-pricing-inner {
      padding: 13% 5%;
    }
  }
}

.mobile, .tablet {
  .box-pricing {
    .box-pricing-label > span {
      top: 15px;
      left: 5px;
    }
  }
}