{% load static %}

      <footer id='footer' class="page-footer section-top-80 section-bottom-34 section-lg-bottom-15 text-sm-left" style="background-color: white">
        <div class="shell">
          <div class="range range-xs-center">
            <div class="cell-sm-8 cell-md-12">
              <div class="range range-xs-center">
                <div class="cell-sm-6 cell-md-3 cell-lg-4 cell-md-push-1"><a href="/"><img width="130" height="60" src="{% static 'img/SpotOnLogo.png' %}" alt=""></a>
                  <div class="offset-top-20 inset-lg-right-80">
                    <p class="text-small">Connecting people Since 2017.</p>
                  </div>
                </div>

                <div class="cell-xs-8 cell-sm-12 cell-md-6 offset-top-40 offset-md-top-0 cell-md-push-2">
                  <p class="text-big text-gray-base">Our Contacts</p>
                  <div class="offset-top-8 offset-sm-top-20">
                    <!-- Contact Info-->
                    <address class="contact-info text-left">
                      <div class="range range-xs-center">
                        <div class="cell-sm-6">
                          <div>
                            <p class="reveal-block text-small"><a href="#" class="text-gray"><span class="unit unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="{% static 'img/icons/icon-01-16x21.png' %}" width="16" height="21" alt="" class="img-responsive center-block offset-top-4"></span><span class="unit-body"><span>331 NW 26th Street, Corvallis OR, 97330</span></span></span></a></p>
                          </div>
                          <div class="offset-top-20">
                            <p class="reveal-inline-block text-small"><a href="callto:#" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="{% static 'img/icons/icon-02-19x19.png' %}" width="19" height="19" alt="" class="img-responsive center-block"></span><span class="unit-body"><span>541-806-4182</span></span></span></a></p>
                          </div>
                        </div>
                        <div class="cell-sm-6 offset-top-15 offset-sm-top-0">
                          <div>
                            <p class="reveal-inline-block text-small"><a href="callto:#" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="{% static 'img/icons/icon-03-12x20.png' %}" width="12" height="20" alt="" class="img-responsive center-block"></span><span class="unit-body"><span>323-678-567</span></span></span></a></p>
                          </div>
                          <div class="offset-top-15">
                            <div>
                              <p class="reveal-inline-block text-small"><a href="mailto:#" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="{% static 'img/icons/icon-04-20x13.png' %}" width="20" height="13" alt="" class="img-responsive center-block"></span><span class="unit-body"><span>info@pretiumtours.org</span></span></span></a></p>
                            </div>
                          </div>
                          <div class="offset-top-20">
                            <p class="reveal-inline-block text-small"><a href="#" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="{% static 'img/icons/icon-05-19x19.png' %}" width="19" height="19" alt="" class="img-responsive center-block"></span><span class="unit-body"><span>pretiumtours.com</span></span></span></a></p>
                          </div>
                        </div>
                      </div>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="offset-top-110">
            <div class="hr bg-gallery"></div>
          </div>
          <div class="range range-xs-center range-sm-justify offset-top-8">
            <div class="cell-sm-5 cell-md-4 text-sm-left">
              <p class="text-extra-small">Copyright &#169; <span id="copyright-year"></span> Pretium Tours. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </footer>