{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}



<style>
{% block style %}
body {
        background: url('{% static "img/f2fLandingPicture.jpg" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }



#main-body {
  background-color: white
}


img {
    border-radius: 2%;
}


#button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

#selection {
  border-radius: 4px;
  width:100px;
}



{% endblock style %}
</style>





{% block content %}

<div class="container" id="main-body">

<hr>
  <div class="container">

  <div class="col-sm-2">
<h1>Overview</h1>
  </div>

<div ></div>

  <div class="col-sm-2" style="border-left:1px solid #000;height:80px; text-align: center">
<h1>Reviews</h1>
  </div>


  <div class="col-sm-2" style="border-left:1px solid #000;height:80px; text-align: center">
<h1>Map</h1>
  </div>

  <div class="col-sm-2" style="border-left:1px solid #000;height:80px; text-align: center">
<h1>Booking</h1>
  </div>

</div>

<hr>

  <div class="container">


{% if guide_profile.image %}
   
      <div class="col-sm-3">
         <img src='{{ guide_profile.image.url }}' class='img-responsive' />
         <h1>{{guide_profile.first_name}} {{guide_profile.last_name}}</h1>
         <hr>
         Language: {{guide_profile.language}}<br>
         Personality: {{guide_profile.language}}<br>
         Social Security: {{guide_profile.language}}<br>
      </div>

{% endif %}

      <div class="col-sm-offset-1 col-sm-6">
      <h1>Tour Description</h1>
        <p class="lead">{{guide_profile.tour_description|linebreaks }}</p>
      </div>

  </div>

<hr>




  <div class="container">
  <div>
  <h1>Reviews</h1>
<br>



  </div>
  </div>


<hr>

<div class="container">
      <h1>Things to Remember</h1>
        <p>{{guide_profile.remember|linebreaks }}</p>
</div>

<hr>

  <div class="container">
  <div>
  <h1>Book a tour with {{guide_profile.first_name}}</h1>


<form action="">
<label id="selection" for="booking">Guests</label>
  <select name="booking">
  
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
  <br>
  <input id="button" type="submit" value="Book">
</form> 

Avaliable Spots: {{guide_profile.tour_size}}







<script>
      {% block jquery %}
        
      {% endblock %}
</script>



{% endblock %}


