{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}



<style>
{% block style %}
body {
        background: url('{% static "img/roya-ann-miller-185140.jpg" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

  h1  {
    font-family: Century, sans-serif;
  }

  h2 {
    font-family:  Century, sans-serif;
  }

  p {
    font-family:  Century, sans-serif;
  }

  #whereto {
   width:100%;
  }



a:link {
    text-decoration: none;
}



#booking {
border-radius: 4px;
}




{% endblock style %}
</style>





{% block content %}


<br/><br/><br/>

<h1 style="text-align: center; color: white">Travel The World, Travel your Dream</h1>

<h1 class="lead" style="text-align: center;">Want to be a <a href="{% url 'create_tour_guide' %}">Tour Guide</a>?</h1>


<br><br><br>




<div id="myCarousel" class="carousel slide" data-ride="carousel">




  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>



      
  <!-- Wrapper for slides -->
  <div class="carousel-inner">



    <div class="item active">
    
      <img src="{% static 'img/f2fLandingPicture.jpg' %}" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="{% static 'img/roya-ann-miller-185140.jpg' %}" alt="Chicago">
    </div>

    <div class="item">
      <img src="{% static 'img/aidan-meyer-129873.jpg' %}" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  
  </a>





  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<form action="/guide_listings" method="get" style="text-align: center">
         
<div class="container">
    <form action="/guide_listings" method="get" style="text-align: center">
    <fieldset>
    <span>
      <input type="text" class="form-control" name="living" id="whereto" placeholder="Where do you want to go?" value='{{ request.GET.q }}'>
    </span>
    </fieldset>
  </form>
</div>


<div class="container">

  <div class="col-sm-4">
    <input type="text" class="form-control" name="day" id="calander" placeholder="Day" value='{{ request.GET.q }}'>
  </div>

  <div class="col-sm-4">
    <input type="text" class="form-control" name="language" id="whereto" placeholder="Language" value='{{ request.GET.q }}'>
  </div>

  <div class="col-sm-4">

  <select name="booking" id="booking">
  <option value="Free Walking">Free Walking</option>
  </select>
  <br>
  </div>

</form>

<script>
      {% block jquery %}

        document.getElementById('whereto').style.height="80px";
        document.getElementById('whereto').style.fontSize="30pt";
        document.getElementById('whereto').style.width="100%";
        $("#calander").datepicker();
        document.getElementById('booking').style.height="35px";
        document.getElementById('booking').style.width="100%";

        
      {% endblock %}
</script>



{% endblock %}


