{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Create booking" %}{% endblock %}

{% block content %}

<div class="container">

<div class="col-sm-offset-3 col-sm-6">
    <h1>{% trans "Create booking" %}</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Save' %}" />
    </form>

   </div>
</div>

<script>
      {% block jquery %}
        $("#id_date_from").datepicker();
        $("#id_date_until").datepicker();
      {% endblock %}
</script>

{% endblock %}
