{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}


    <!-- Page-->
    <div class="page text-center">
      <main class="page-content">
        <!-- Login-->
        <section>
          <!-- RD Parallax-->
          <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="{% static 'img/backgrounds/background-26-1920x900.jpg' %}" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
              <div class="shell section-80 section-md-top-135 section-md-bottom-145">
                <div class="range range-xs-center">
                  <div class="cell-xs-9 cell-sm-7 cell-md-5 cell-lg-5">
                    <!-- Box-->
                    <div class="box box-lg reveal-block bg-white inset-lg-left-60 inset-lg-right-60">
                    <p class="lead">{% trans "Cancel Occurrence" %}</p>
                    {% trans "Are you sure you want to cancel this occurrence?" %}
                      <div class="offset-top-25">
                          <div class="form-group form-group-xs">
                            <form action="" method="post">{% csrf_token %}
              							  <h4>{{ occurrence.title }}</h4><br>
              							  {% blocktrans with start_date=occurrence.start|date:_("DATETIME_FORMAT") end_date=occurrence.end|date:_("DATETIME_FORMAT") %}
              							  <strong>From</strong> {{ start_date }}<br>
              							  <strong>to</strong> {{ end_date }}<br>
              							  {% endblocktrans %}
              							  <input class="btn btn-block btn-icon btn-icon-right btn-primary" type="submit" value="Confirm">
              							  <input class="btn btn-block btn-icon btn-icon-right btn-primary" type="submit" name="cancel" value="Cancel">
              							</form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

{% endblock %}
